{% macro tabs(data) %}

    {% import '../../page/_macros/_prefix.twig' as pr %}
    {% import '../../page/_macros/_mod.twig' as mod %}
    {% import '../../page/_macros/_attr.twig' as attr %}

    {% import '../card/card.twig' as card %}

    {% set pr = pr.generatePrefix('tabs', data.prefix) %}
    {% set mod = mod.generateMod('tabs', data.prefix, data.mod) %}
    {% set attr = attr.generateAttr('tabs', data.prefix) %}

    <div class="tabs{{pr}} {{mod}} {% if data.class %}{{ data.class }}{% endif %}" {{attr}}>
        <div class="tabs{{pr}}__head js-tabs-head" data-tabs-head>
            {% for item in data.list %}
                <div class="tabs{{pr}}__head-item">
                    <a href="#" class="tabs{{pr}}__head-link {% if item.active %}active{% endif %}" data-tabs-link>{{ item.title }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="tabs{{pr}}__body js-tabs-body" data-tabs-body>
            {% for item in data.list %}
                <div class="tabs{{pr}}__body-item {% if item.active %}open{% endif %}" data-tabs-body-item>
                    {% if item.text %}
                        {{ item.text }}
                    {% endif %}

                    {% if item.slider %}
                        <div class="card__wrap">
                            <div class="card__list card__slider" data-slider-cards>
                                {% if item.sliderType == "swiper" %}
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            {% for item2 in item.slider %}
                                                {{ card.card(item2) }}
                                            {% endfor %}
                                        </div>
                                    <div class="swiper-scrollbar"></div>
                                    </div>
                                {% else %}

                                    {% for item2 in item.slider %}
                                        {{ card.card(item2) }}
                                    {% endfor %}

                                {% endif %}
                            </div>

                            {# <div class="slider-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-slider-cards-progress>
                                <span class="slider-progress__label sr-only" data-slider-cards-progress-label>
                            </div> #}
                            
                        </div>

                        
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro tabsInner(data) %}
    {% import '../../page/_macros/_svg.twig' as svg %}
    {% import '../../page/_macros/_prefix.twig' as pr %}
    {% import '../../page/_macros/_mod.twig' as mod %}
    {% import '../../page/_macros/_attr.twig' as attr %}

    {% set pr = pr.generatePrefix('tabs', data.prefix) %}
    {% set mod = mod.generateMod('tabs', data.prefix, data.mod) %}
    {% set attr = attr.generateAttr('tabs', data.prefix) %}


    <div class="tabs {% if data.class %}{{ data.class }}{% endif %}" {{attr}}>
        <div class="tabs__head js-tabs-head" data-tabs-head>
            {% for item in data.list %}
                <div class="tabs__head-item">
                    <a href="#" class="tabs__head-in {% if item.active %}active{% endif %}" data-tabs-link>
                        {{ svg.icon(item.icon) }}

                        <span class="tabs__head-link ">
                            {{ item.title }}
                        </span>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="tabs__body js-tabs-body" data-tabs-body>
            <div class="tabs__body-item open" data-tabs-body-item>
                <ul class="list-mark">
                    <li>Подробную информацию по доставке вы можете посмотреть в <a href="#" class="color-red">Личном кабинете</a>.</li>
                    <li>В день доставки курьер предварительно позвонит вам и согласует время встречи.</li>
                    <li>Вы можете перенести дату и место доставки заказа, если у вас возникнет такая необходимость.</li>
                    <li>Выкупать часть заказа невозможно.</li>
                </ul>

                <h4 class="h4 h4--sm">Способы оплаты</h4>
                <p>Оплата курьеру производится наличными, либо банковской картой.</p>

                <h4 class="h4 h4--sm">Стоимость доставки</h4>
                <p>От 249 рублей. Полную стоимость доставки вы сможете узнать при оформлении заказа на сайте, либо по телефону.</p>

                <h4 class="h4 h4--sm">Срок доставки</h4>
                <p>От 2 рабочих дней, после согласования заказа.</p>

                <h4 class="h4 h4--sm">Срок хранения заказа</h4>
                <p>У курьерской службы — 14 дней.</p>
            </div>

            <div class="tabs__body-item" data-tabs-body-item>
                <ul class="list-mark">
                    <li>Осуществляется по всей территории Российской Федерации и соответствует географии доставки ФГУП «Почта России».</li>
                    <li>После передачи заказа от склада в почтовую службу вам придет трек-номер, по которому вы сможете отследить посылку.</li>
                </ul>

                <h4 class="h4 h4--sm">Способы оплаты</h4>
                <p>К оплате принимаются наличные и банковские карты.</p>

                <h4 class="h4 h4--sm">Стоимость доставки</h4>
                <p>Полную стоимость доставки вы сможете узнать при оформлении заказа на сайте, либо по телефону.</p>

                <h4 class="h4 h4--sm">Срок доставки</h4>
                <p>В соответствии со сроками «Почты России», в зависимости от удаленности региона.</p>

                <h4 class="h4 h4--sm">Срок хранения заказа</h4>
                <p>В отделениях Почты России — 30 дней.</p>
            </div>

            <div class="tabs__body-item" data-tabs-body-item>
                <ul class="list-mark">
                    <li>Доступна на всей территории Российской Федерации.</li>
                    <li>При оформлении заказа вам необходимо выбрать ближайший пункт выдачи заказа и подтвердить его.</li>
                    <li>Выкуп части заказа не предусмотрен.</li>
                </ul>

                <h4 class="h4 h4--sm">Способы оплаты</h4>
                <p>Оплатить можно онлайн на сайте, либо при получении в ПВЗ картой или наличными.</p>

                <h4 class="h4 h4--sm">Стоимость доставки</h4>
                <p>От 199 рублей. Полную стоимость доставки вы сможете узнать при оформлении заказа на сайте, либо по телефону.</p>

                <h4 class="h4 h4--sm">Срок доставки</h4>
                <p>От 2 рабочих дней, после согласования заказа.</p>

                <h4 class="h4 h4--sm">Срок хранения заказа</h4>
                <p>В пунктах выдачи заказа — 7 дней.</p>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro tabsProduct(data) %}
    {% import '../../page/_macros/_svg.twig' as svg %}
    {% import '../../page/_macros/_prefix.twig' as pr %}
    {% import '../../page/_macros/_mod.twig' as mod %}
    {% import '../../page/_macros/_attr.twig' as attr %}

    {% set pr = pr.generatePrefix('tabs', data.prefix) %}
    {% set mod = mod.generateMod('tabs', data.prefix, data.mod) %}
    {% set attr = attr.generateAttr('tabs', data.prefix) %}


    <div class="tabs-product {% if data.class %}{{ data.class }}{% endif %}" {{attr}}>
        <div class="tabs-product__head js-tabs-head" data-tabs-head>
            {% for item in data.list %}
                <div class="tabs-product__head-item">
                    <a href="#" class="tabs-product__head-in {% if item.active %}active{% endif %}" data-tabs-link>
                        <span class="tabs-product__head-link ">
                            {{ item.title }}
                        </span>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="tabs-product__body js-tabs-body" data-tabs-body>
            <div class="tabs-product__body-item open" data-tabs-body-item>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit libero volutpat sed cras ornare arcu dui. Fringilla urna porttitor rhoncus dolor purus. Neque gravida in fermentum et sollicitudin. Sed viverra tellus in hac habitasse platea. Mattis pellentesque id nibh tortor id. Rhoncus dolor purus non enim. Erat imperdiet sed euismod nisi porta lorem mollis. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque. Sed enim ut sem viverra aliquet eget sit amet. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque.
                </p>
            </div>

            <div class="tabs-product__body-item" data-tabs-body-item>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit libero volutpat sed cras ornare arcu dui. Fringilla urna porttitor rhoncus dolor purus. Neque gravida in fermentum et sollicitudin. Sed viverra tellus in hac habitasse platea. Mattis pellentesque id nibh tortor id. Rhoncus dolor purus non enim. Erat imperdiet sed euismod nisi porta lorem mollis. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque. Sed enim ut sem viverra aliquet eget sit amet. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque.
                </p>
            </div>
        </div>
    </div>
{% endmacro %}

{# Табы с заказами в личном кабинете #}
{% macro tabsOrders(data) %}
    {% import '../../page/_macros/_svg.twig' as svg %}
    {% import '../../page/_macros/_prefix.twig' as pr %}
    {% import '../../page/_macros/_mod.twig' as mod %}
    {% import '../../page/_macros/_attr.twig' as attr %}

    {% import '../../components/table/table.twig' as table %}

    {% set pr = pr.generatePrefix('tabs', data.prefix) %}
    {% set mod = mod.generateMod('tabs', data.prefix, data.mod) %}
    {% set attr = attr.generateAttr('tabs', data.prefix) %}


    <div class="tabs-product {% if data.class %}{{ data.class }}{% endif %}" {{attr}}>
        <div class="tabs-product__head js-tabs-head justify-content-center" data-tabs-head>
            {% for item in data.list %}
                <div class="tabs-product__head-item">
                    <a href="#" class="tabs-product__head-in {% if item.active %}active{% endif %}" data-tabs-link>
                        <span class="tabs-product__head-link ">
                            {{ item.title }}
                        </span>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="tabs-product__body js-tabs-body" data-tabs-body>
            <div class="tabs-product__body-item open" data-tabs-body-item>
                {{ table.table(data.tableList) }}
                
            </div>

            <div class="tabs-product__body-item" data-tabs-body-item>
                <p>
                    Здесь будет отображаться информация о выполненных заказах.
                </p>
            </div>

            <div class="tabs-product__body-item" data-tabs-body-item>
                <p>
                    Здесь будет отображаться информация о ваших заказах.
                </p>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro tabsProfile(data) %}
    {% import '../../page/_macros/_svg.twig' as svg %}
    {% import '../../page/_macros/_prefix.twig' as pr %}
    {% import '../../page/_macros/_mod.twig' as mod %}
    {% import '../../page/_macros/_attr.twig' as attr %}
    
    {% import '../../components/select/select.twig' as select %}
    {% import '../../components/table/table.twig' as table %}
    {% import _self as orders %}

    {% set pr = pr.generatePrefix('tabs', data.prefix) %}
    {% set mod = mod.generateMod('tabs', data.prefix, data.mod) %}
    {% set attr = attr.generateAttr('tabs', data.prefix) %}


    <div class="tabs {% if data.class %}{{ data.class }}{% endif %}" {{attr}}>
        <div class="tabs__head js-tabs-head" data-tabs-head>
            {% for item in data.list %}
                <div class="tabs__head-item">
                    <a href="#" class="tabs__head-in {% if item.active %}active{% endif %}" data-tabs-link>
                        <span class="tabs__head-link ">
                            {{ item.title }}
                        </span>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="tabs__body js-tabs-body" data-tabs-body>
            
            <div class="tabs__body-item open" data-tabs-body-item>

                {{ orders.tabsOrders(data.tabsOrdersTypes) }}
                
                {# Таблица #}
                {# {{ table.table(data.tableList) }} #}
                
            </div>

            <div class="tabs__body-item" data-tabs-body-item>
                <div class="row page-order__content" data-sticky-content>
                    <div class="col-12 col-xl-12 col-lg-12">
                        <h3 class="light h3 h3--lg">Персональные данные</h3>

                        <div class="row">
                            <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Имя</label>
                                    <input type="text" class="elem-input" value="Екатерина">
                                </div>
                            </div>

                            <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Фамилия</label>
                                    <input type="text" class="elem-input" value="">
                                </div>
                            </div>

                            <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Отчество</label>
                                    <input type="text" class="elem-input" value="">
                                </div>
                            </div>
                        </div>

                        <div class="row elem-item__row flex-md-row-reverse">

                            <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Дата рождения</label>
                                    <input type="text" class="elem-input elem-input--white" id="date-of-birth" value="дд.мм.гггг" readonly="readonly">
                                </div>                            
                            </div>

                            <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Пол</label>
                                    
                                        {{ select.select(data.sexSelect) }}
                                    
                                </div>
                            </div>

                            <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">E-mail</label>
                                    <input type="email" class="elem-input" value="kateika8@mail.ru">
                                </div>

                                <label class="elem-radio">
                                    <input type="radio" class="elem-radio__input" name="radio-mailing">
                                    <span class="elem-radio__span">Я хочу получать новостную рассылку</span>
                                </label>
                            </div>
                        </div>

                        <h3 class="light h3 h3--lg">Адрес</h3>

                        <div class="row elem-item__row">

                            <div class="col-12 col-xl-3 col-lg-3 col-md-4">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Город</label>
                                    <input type="text" class="elem-input" value="">
                                </div>
                            </div>

                            <div class="col-12 col-xl-3 col-lg-3 col-md-4">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Улица</label>
                                    <input type="text" class="elem-input" value="">
                                </div>
                            </div>

                            <div class="col-6 col-xl-3 col-lg-3 col-md-2">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Дом</label>
                                    <input type="text" class="elem-input" value="">
                                </div>
                            </div>

                            <div class="col-6 col-xl-3 col-lg-3 col-md-2">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Квартира</label>
                                    <input type="text" class="elem-input" value="">
                                </div>
                            </div>

                            <div class="col-12 col-xl-12 col-lg-12 col-md-12">
                                <label class="elem-radio">
                                    <input type="radio" class="elem-radio__input" name="radio-policy">
                                    <span class="elem-radio__span"><span>Я согласен(на) с условиями <a href="#" class="elem-link elem-link--red">Политики конфиденциальности.</a></span></span>
                                </label>
                            </div>

                            <div class="col-12 col-xl-4 col-lg-4 col-md-4 offset-md-8 offset-lg-8">
                                 <button class="elem-btn elem-btn--lg elem-btn--w100">Сохранить изменения</button>
                            </div>
                        </div>

                        <h3 class="light h3 h3--lg">Изменение номера телефона</h3>

                        <div class="row phone-number flex-md-column">
                            <div class="col-12 col-xl-4 col-lg-4 col-md-5">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Ваш номер телефона</label>
                                    <input type="tel" class="elem-input" value="+7 (926) 218-88-10" disabled data-phone>
                                </div>
                            </div>

                            <div class="col-12 col-xl-4 col-lg-4 col-md-5">
                                <button class="elem-btn elem-btn--lg elem-btn--w100 elem-btn--dark change-number-btn" href="#">Изменить</button>
                            </div>
                        </div>

                        <div class="row phone-number-change flex-md-column">
                            <div class="col-12 col-xl-4 col-lg-4 col-md-5">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Введите новый номер</label>
                                    <input type="tel" class="elem-input" value="" data-phone>
                                </div>

                                <div class="elem-item elem-item--md sms">
                                    <div class="sms__title">
                                        <label class="elem-label" required="">
                                            Введите код из SMS
                                        </label>
                                        <a href="#" class="sms__link hidden-xs hidden-sm hidden-md">Отправить код повторно</a>
                                    </div>
                                    <div class="sms__row">
                                        <div class="sms__input elem-item">
                                            <input type="text" class="elem-input" placeholder="0" tabindex="1">
                                        </div>
                                        <div class="sms__input elem-item">
                                            <input type="text" class="elem-input" placeholder="0" tabindex="2">
                                        </div>
                                        <div class="sms__input elem-item">
                                            <input type="text" class="elem-input" placeholder="0" tabindex="3">
                                        </div>
                                        <div class="sms__input elem-item">
                                            <input type="text" class="elem-input" placeholder="0" tabindex="4">
                                        </div>
                                    </div>
                                    <div class="sms__desc">
                                        Не получили код? <a href="#" class="sms__link"> Отправить повторно.</a>
                                    </div>
                                </div>

                            </div>

                            <div class="col-12 col-xl-4 col-lg-4 col-md-5">
                                <button class="elem-btn elem-btn--lg elem-btn--w100 elem-btn--dark elem-btn--m-b-10 change-number-getcode" href="#">Получить код</button>
                            </div>

                            <div class="col-12 col-xl-4 col-lg-4 col-md-5">
                                <button class="elem-btn elem-btn--lg elem-btn--w100 elem-btn--light change-number-cancel" href="#">Отмена</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="tabs-product__body-item" data-tabs-body-item>
                <div class="club-card">
                    <div class="club-card__group">
                        <div class="club-card__image">
                            <img src="assets/images/required/club-card/1-mobile.png" class="hidden-md hidden-lg hidden-xl">
                            <img src="assets/images/required/club-card/1-desktop.png" class="hidden-xs hidden-sm">
                        </div>
                        <div class="club-card__text">
                            <div class="club-card__text-item club-card__text-item--name club-card__text-item--bold">Рады видеть вас, Екатерина</div>
                            <div class="club-card__text-item club-card__text-item--current-status club-card__text-item--bold">
                                Ваш статус: {{ svg.icon('status-basic') }}
                            </div>

                            <div class="club-card__text-item club-card__text-item--cashback-base hidden-xs hidden-sm"><span class="club-card__text-item--cashback-value club-card__text-item--bold">10%</span> от суммы покупки возвращаются на бонусный счет</div>
                            <div class="club-card__text-item club-card__text-item--present-base hidden-xs hidden-sm"><span class="club-card__text-item--present-value club-card__text-item--bold">300 ₽</span> подарок на День Рождения</div>

                            <div class="club-card__text-item club-card__text-item--balance club-card__text-item--bold">2000 ₽</div>
                            <div class="club-card__text-item club-card__text-item--info hidden-xs hidden-sm">Добро пожаловать в нашу программу HSR Бонус!<br /><br />Здесь вы можете посмотреть ваш текущий статус и узнать количество бонусов на карте.<br /><br />Копите бонусные рубли и повышайте свой статус! Каждая покупка приближает вас к новому уровню программы.
</div>
                        </div>
                    </div>

                    <div class="club-card__group">
                        <div class="club-card__image">
                            <img src="assets/images/required/club-card/2-mobile.png" class="hidden-md hidden-lg hidden-xl">
                            <img src="assets/images/required/club-card/2-desktop.png" class="hidden-xs hidden-sm">
                        </div>
                        <div class="club-card__text">
                            <div class="club-card__text-item club-card__text-item--next-status">Для получения статуса <span class="club-card__text-item--bold club-card__text-item--uppercase">медиум</span> осталось совершить</div>
                            <div class="club-card__text-item club-card__text-item--purchases club-card__text-item--bold">2 покупки</div>

                            <div class="club-card__text-item club-card__text-item--levels hidden-xs hidden-sm">«Базовый» уровень – для новеньких. Но уже со своими бонусами!<br /><br />После второго заказа вы переходите на уровень «Медиум». Здесь еще интереснее и выгоднее.<br /><br />После четвертой покупки вы получаете самые классные привилегии.<br /><br />Уровень «Всё включено» — это бесконечное удовольствие от выгодного шопинга.</div>

                            <div class="club-card__text-item club-card__text-item--status-medium">{{ svg.icon('status-medium') }}</div>
                            <div class="club-card__text-item club-card__text-item--status-all">{{ svg.icon('status-all') }}</div>
                            <div class="club-card__text-item club-card__text-item--cashback-medium"><span class="club-card__text-item--cashback-value club-card__text-item--bold">15%</span> от суммы покупки возвращаются на бонусный счет</div>
                            <div class="club-card__text-item club-card__text-item--cashback-all"><span class="club-card__text-item--cashback-value club-card__text-item--bold">20%</span> от суммы покупки возвращаются на бонусный счет</div>
                            <div class="club-card__text-item club-card__text-item--present-medium"><span class="club-card__text-item--present-value club-card__text-item--bold">600 ₽</span> подарок на День Рождения</div>
                            <div class="club-card__text-item club-card__text-item--present-all"><span class="club-card__text-item--present-value club-card__text-item--bold">1000 ₽</span> подарок на День Рождения</div>
                            <div class="club-card__text-item club-card__text-item--bonuses-deadline">Неограниченный срок действия бонусов</div>
                        </div>
                    </div>

                    <div class="club-card__group">
                        <div class="club-card__image">
                            <img src="assets/images/required/club-card/3-mobile.png" class="hidden-md hidden-lg hidden-xl">
                            <img src="assets/images/required/club-card/3-desktop.png" class="hidden-xs hidden-sm">
                        </div>
                        <div class="club-card__text">
                            <div class="club-card__text-item club-card__text-item--about">Программа <span class="club-card__text-item--bold">HSR Бонус</span> — это индивидуальные предложения, дополнительные бонусные рубли, полезные информационные сервисы и приятные сюрпризы. Каждый новый уровень даёт массу преимуществ, превращая шопинг в интересный и увлекательный процесс.<br /><br /><span class="club-card__text-item--bold">Хотите подробностей? Жмите на кнопку.</span></div>
                        </div>
                    </div>

                    <div class="col-12 col-xl-4 col-lg-4 col-md-4 offset-md-8 offset-lg-8 club-card__btn">
                        <button class="elem-btn elem-btn--lg elem-btn--w100">Условия программы лояльности</button>
                    </div>

                    
                </div>
            </div>

        </div>
    </div>
{% endmacro %}



