{% macro tabs(data) %}

    {% import '../../page/_macros/_prefix.twig' as pr %}
    {% import '../../page/_macros/_mod.twig' as mod %}
    {% import '../../page/_macros/_attr.twig' as attr %}

    {% import '../card/card.twig' as card %}

    {% set pr = pr.generatePrefix('tabs', data.prefix) %}
    {% set mod = mod.generateMod('tabs', data.prefix, data.mod) %}
    {% set attr = attr.generateAttr('tabs', data.prefix) %}

    <div class="tabs{{pr}} {{mod}} {% if data.class %}{{ data.class }}{% endif %}" {{attr}}>
        <div class="tabs{{pr}}__head js-tabs-head" data-tabs-head>
            {% for item in data.list %}
                <div class="tabs{{pr}}__head-item">
                    <a href="#" class="tabs{{pr}}__head-link {% if item.active %}active{% endif %}" data-tabs-link>{{ item.title }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="tabs{{pr}}__body js-tabs-body" data-tabs-body>
            {% for item in data.list %}
                <div class="tabs{{pr}}__body-item {% if item.active %}open{% endif %}" data-tabs-body-item>
                    {% if item.text %}
                        {{ item.text }}
                    {% endif %}

                    {% if item.slider %}
                        <div class="card__wrap">
                            <div class="card__list card__slider">
                                {% if item.sliderType == "swiper" %}
                                    <div class="swiper-container" data-tabs-slider>
                                        <div class="swiper-wrapper">
                                            {% for item2 in item.slider %}
                                                {{ card.card(item2) }}
                                            {% endfor %}
                                        </div>

                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                        <div class="swiper-scrollbar"></div>
                                    </div>


                                {% else %}

                                    {% for item2 in item.slider %}
                                        {{ card.card(item2) }}
                                    {% endfor %}

                                {% endif %}
                            </div>

                            {# <div class="slider-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-slider-cards-progress>
                                <span class="slider-progress__label sr-only" data-slider-cards-progress-label>
                            </div> #}

                        </div>


                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro tabsInner(data) %}
    {% import '../../page/_macros/_svg.twig' as svg %}
    {% import '../../page/_macros/_prefix.twig' as pr %}
    {% import '../../page/_macros/_mod.twig' as mod %}
    {% import '../../page/_macros/_attr.twig' as attr %}

    {% set pr = pr.generatePrefix('tabs', data.prefix) %}
    {% set mod = mod.generateMod('tabs', data.prefix, data.mod) %}
    {% set attr = attr.generateAttr('tabs', data.prefix) %}


    <div class="tabs {% if data.class %}{{ data.class }}{% endif %}" {{attr}}>
        <div class="tabs__head js-tabs-head" data-tabs-head>
            {% for item in data.list %}
                <div class="tabs__head-item">
                    <a href="#" class="tabs__head-in {% if item.active %}active{% endif %}" data-tabs-link>
                        {{ svg.icon(item.icon) }}

                        <span class="tabs__head-link ">
                            {{ item.title }}
                        </span>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="tabs__body js-tabs-body" data-tabs-body>
            <div class="tabs__body-item open" data-tabs-body-item>
                <ul class="list-mark">
                    <li>Подробную информацию по доставке вы можете посмотреть в <a href="#" class="color-red">Личном кабинете</a>.</li>
                    <li>В день доставки курьер предварительно позвонит вам и согласует время встречи.</li>
                    <li>Вы можете перенести дату и место доставки заказа, если у вас возникнет такая необходимость.</li>
                    <li>Выкупать часть заказа невозможно.</li>
                </ul>

                <h4 class="h4 h4--sm">Способы оплаты</h4>
                <p>Оплата курьеру производится наличными, либо банковской картой.</p>

                <h4 class="h4 h4--sm">Стоимость доставки</h4>
                <p>От 249 рублей. Полную стоимость доставки вы сможете узнать при оформлении заказа на сайте, либо по телефону.</p>

                <h4 class="h4 h4--sm">Срок доставки</h4>
                <p>От 2 рабочих дней, после согласования заказа.</p>

                <h4 class="h4 h4--sm">Срок хранения заказа</h4>
                <p>У курьерской службы — 14 дней.</p>
            </div>

            <div class="tabs__body-item" data-tabs-body-item>
                <ul class="list-mark">
                    <li>Осуществляется по всей территории Российской Федерации и соответствует географии доставки ФГУП «Почта России».</li>
                    <li>После передачи заказа от склада в почтовую службу вам придет трек-номер, по которому вы сможете отследить посылку.</li>
                </ul>

                <h4 class="h4 h4--sm">Способы оплаты</h4>
                <p>К оплате принимаются наличные и банковские карты.</p>

                <h4 class="h4 h4--sm">Стоимость доставки</h4>
                <p>Полную стоимость доставки вы сможете узнать при оформлении заказа на сайте, либо по телефону.</p>

                <h4 class="h4 h4--sm">Срок доставки</h4>
                <p>В соответствии со сроками «Почты России», в зависимости от удаленности региона.</p>

                <h4 class="h4 h4--sm">Срок хранения заказа</h4>
                <p>В отделениях Почты России — 30 дней.</p>
            </div>

            <div class="tabs__body-item" data-tabs-body-item>
                <ul class="list-mark">
                    <li>Доступна на всей территории Российской Федерации.</li>
                    <li>При оформлении заказа вам необходимо выбрать ближайший пункт выдачи заказа и подтвердить его.</li>
                    <li>Выкуп части заказа не предусмотрен.</li>
                </ul>

                <h4 class="h4 h4--sm">Способы оплаты</h4>
                <p>Оплатить можно онлайн на сайте, либо при получении в ПВЗ картой или наличными.</p>

                <h4 class="h4 h4--sm">Стоимость доставки</h4>
                <p>От 199 рублей. Полную стоимость доставки вы сможете узнать при оформлении заказа на сайте, либо по телефону.</p>

                <h4 class="h4 h4--sm">Срок доставки</h4>
                <p>От 2 рабочих дней, после согласования заказа.</p>

                <h4 class="h4 h4--sm">Срок хранения заказа</h4>
                <p>В пунктах выдачи заказа — 7 дней.</p>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro tabsProduct(data) %}
    {% import '../../page/_macros/_svg.twig' as svg %}
    {% import '../../page/_macros/_prefix.twig' as pr %}
    {% import '../../page/_macros/_mod.twig' as mod %}
    {% import '../../page/_macros/_attr.twig' as attr %}

    {% set pr = pr.generatePrefix('tabs', data.prefix) %}
    {% set mod = mod.generateMod('tabs', data.prefix, data.mod) %}
    {% set attr = attr.generateAttr('tabs', data.prefix) %}


    <div class="tabs-product {% if data.class %}{{ data.class }}{% endif %}" {{attr}}>
        <div class="tabs-product__head js-tabs-head" data-tabs-head>
            {% for item in data.list %}
                <div class="tabs-product__head-item">
                    <a href="#" class="tabs-product__head-in {% if item.active %}active{% endif %}" data-tabs-link>
                        <span class="tabs-product__head-link ">
                            {{ item.title }}
                        </span>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="tabs-product__body js-tabs-body" data-tabs-body>
            <div class="tabs-product__body-item open" data-tabs-body-item>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit libero volutpat sed cras ornare arcu dui. Fringilla urna porttitor rhoncus dolor purus. Neque gravida in fermentum et sollicitudin. Sed viverra tellus in hac habitasse platea. Mattis pellentesque id nibh tortor id. Rhoncus dolor purus non enim. Erat imperdiet sed euismod nisi porta lorem mollis. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque. Sed enim ut sem viverra aliquet eget sit amet. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque.
                </p>
            </div>

            <div class="tabs-product__body-item" data-tabs-body-item>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit libero volutpat sed cras ornare arcu dui. Fringilla urna porttitor rhoncus dolor purus. Neque gravida in fermentum et sollicitudin. Sed viverra tellus in hac habitasse platea. Mattis pellentesque id nibh tortor id. Rhoncus dolor purus non enim. Erat imperdiet sed euismod nisi porta lorem mollis. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque. Sed enim ut sem viverra aliquet eget sit amet. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque.
                </p>
            </div>
        </div>
    </div>
{% endmacro %}

{# Табы с заказами в личном кабинете #}
{% macro tabsOrders(data) %}
    {% import '../../page/_macros/_svg.twig' as svg %}
    {% import '../../page/_macros/_prefix.twig' as pr %}
    {% import '../../page/_macros/_mod.twig' as mod %}
    {% import '../../page/_macros/_attr.twig' as attr %}

    {% import '../../components/table/table.twig' as table %}

    {% set pr = pr.generatePrefix('tabs', data.prefix) %}
    {% set mod = mod.generateMod('tabs', data.prefix, data.mod) %}
    {% set attr = attr.generateAttr('tabs', data.prefix) %}


    <div class="tabs-product {% if data.class %}{{ data.class }}{% endif %}" {{attr}}>
        <div class="tabs-product__head js-tabs-head justify-content-center" data-tabs-head>
            {% for item in data.list %}
                <div class="tabs-product__head-item">
                    <a href="#" class="tabs-product__head-in {% if item.active %}active{% endif %}" data-tabs-link>
                        <span class="tabs-product__head-link ">
                            {{ item.title }}
                        </span>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="tabs-product__body js-tabs-body" data-tabs-body>
            <div class="tabs-product__body-item open" data-tabs-body-item>
                {{ table.table(data.tableList) }}

            </div>

            <div class="tabs-product__body-item" data-tabs-body-item>
                <p>
                    Здесь будет отображаться информация о выполненных заказах.
                </p>
            </div>

            <div class="tabs-product__body-item" data-tabs-body-item>
                <p>
                    Здесь будет отображаться информация о ваших заказах.
                </p>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro tabsProfile(data) %}
    {% import '../../page/_macros/_svg.twig' as svg %}
    {% import '../../page/_macros/_prefix.twig' as pr %}
    {% import '../../page/_macros/_mod.twig' as mod %}
    {% import '../../page/_macros/_attr.twig' as attr %}

    {% import '../../components/select/select.twig' as select %}
    {% import '../../components/table/table.twig' as table %}
    {% import '../../components/card/card.twig' as card %}
    {% import _self as orders %}

    {% set pr = pr.generatePrefix('tabs', data.prefix) %}
    {% set mod = mod.generateMod('tabs', data.prefix, data.mod) %}
    {% set attr = attr.generateAttr('tabs', data.prefix) %}


    <div class="tabs {% if data.class %}{{ data.class }}{% endif %}" {{attr}}>
        <div class="tabs__head js-tabs-head" data-tabs-head>
            {% for item in data.list %}
                <div class="tabs__head-item">
                    <a href="#" class="tabs__head-in {% if item.active %}active{% endif %}" data-tabs-link>
                        <span class="tabs__head-link ">
                            {{ item.title }}
                        </span>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="tabs__body js-tabs-body" data-tabs-body>

            <div class="tabs__body-item open" data-tabs-body-item>

                {{ orders.tabsOrders(data.tabsOrdersTypes) }}

                {# Таблица #}
                {# {{ table.table(data.tableList) }} #}

            </div>

            <div class="tabs__body-item" data-tabs-body-item>
                <div class="row page-order__content" data-sticky-content>
                    <div class="col-12 col-xl-12 col-lg-12">
                        <h3 class="light h3 h3--lg">Персональные данные</h3>

                        <div class="row page-order__row">
                            <div class="col-12 col-xl-4 col-lg-4 col-md-4 page-order__col">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Имя</label>
                                    <input type="text" class="elem-input" value="Екатерина">
                                </div>
                            </div>

                            <div class="col-12 col-xl-4 col-lg-4 col-md-4 page-order__col">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Фамилия</label>
                                    <input type="text" class="elem-input" value="">
                                </div>
                            </div>

                            <div class="col-12 col-xl-4 col-lg-4 col-md-4 page-order__col">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Отчество</label>
                                    <input type="text" class="elem-input" value="">
                                </div>
                            </div>
                        </div>

                        <div class="row elem-item__row flex-md-row-reverse page-order__row">

                            <div class="col-12 col-xl-4 col-lg-4 col-md-4 page-order__col order-lg-2">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Дата рождения</label>
                                    <input type="text" class="elem-input elem-input--white" id="date-of-birth" placeholder="ДД.ММ.ГГГГ" data-date>
                                </div>
                            </div>

                            <div class="col-12 col-xl-4 col-lg-4 col-md-4 page-order__col order-lg-1">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Пол</label>

                                        {{ select.select(data.sexSelect) }}

                                </div>
                            </div>

                            <div class="col-12 col-xl-4 col-lg-4 col-md-4 page-order__col order-lg-3">
                                <div class="elem-item">
                                    <label class="elem-label">E-mail</label>
                                    <input type="email" class="elem-input" value="kateika8@mail.ru">
                                </div>

                                <label class="elem-radio">
                                    <input type="checkbox" class="elem-radio__input" name="radio-mailing">
                                    <span class="elem-radio__span">Я хочу получать новостную рассылку</span>
                                </label>
                            </div>
                        </div>

                        <h3 class="light h3 h3--lg">Адрес</h3>

                        <div class="row elem-item__row elem-item__row--mob-mb-10 page-order__row">

                            <div class="col-12 col-xl-3 col-lg-3 col-md-4 page-order__col--4">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Город</label>
                                    <input type="text" class="elem-input" value="">
                                </div>
                            </div>

                            <div class="col-12 col-xl-3 col-lg-3 col-md-4 page-order__col--4">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Улица</label>
                                    <input type="text" class="elem-input" value="">
                                </div>
                            </div>

                            <div class="col-6 col-xl-3 col-lg-3 col-md-2 page-order__col--4">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Дом</label>
                                    <input type="text" class="elem-input" value="">
                                </div>
                            </div>

                            <div class="col-6 col-xl-3 col-lg-3 col-md-2 page-order__col--4">
                                <div class="elem-item elem-item--md">
                                    <label class="elem-label">Квартира</label>
                                    <input type="text" class="elem-input" value="">
                                </div>
                            </div>


                        </div>

                        <div class="row elem-item__row page-order__row align-items-center">

                            {# <div class="col-12 col-xl-9 col-lg-9 col-md-8 col-sm-9">
                                <label class="elem-radio">
                                    <input type="checkbox" class="elem-radio__input" name="radio-policy">
                                    <span class="elem-radio__span"><span>Я согласен(на) с условиями&nbsp;<a href="#" class="elem-link elem-link--red d-inline">Политики конфиденциальности.</a></span></span>
                                </label>
                            </div> #}

                            <div class="col-12 col-xl-3 col-lg-3 col-md-4 col-sm-3 offset-xl-9 offset-lg-9 offset-md-8 offset-sm-9">
                                 <button class="elem-btn elem-btn--lg elem-btn--w100 elem-btn--mob-m-t-10">Сохранить изменения</button>
                            </div>

                        </div>

                        <h3 class="light h3 h3--lg">Изменение номера телефона</h3>

                        <div class="row elem-item__row phone-number align-items-end active">
                            <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                                <div class="elem-item elem-item--no-margin-bottom">
                                    <label class="elem-label">Ваш номер телефона</label>
                                    <input type="tel" class="elem-input" value="+7 (926) 218-88-10" disabled data-phone>
                                </div>
                            </div>

                            <div class="col-12 col-xl-3 col-lg-3 col-md-3">
                                <button class="elem-btn elem-btn--lg elem-btn--w100 elem-btn--dark change-number-btn" href="#">Изменить</button>
                            </div>
                        </div>

                        <div class="row elem-item__row phone-number-change align-items-end">
                            <div class="col-12 col-xl-4 col-lg-4 col-md-4">
                                <div class="elem-item elem-item--no-margin-bottom">
                                    <label class="elem-label">Введите новый номер</label>
                                    <input type="tel" class="elem-input" value="" placeholder="+7 (___) ___-__-__" data-phone>
                                </div>

                            </div>

                            <div class="col-12 col-xl-3 col-lg-3 col-md-3">
                                <button class="elem-btn elem-btn--lg elem-btn--w100 elem-btn--dark change-number-getcode" href="#">Получить код</button>
                            </div>

                            <div class="col-12 col-xl-3 col-lg-3 col-md-5">
                                <div class="elem-item elem-item--no-margin-bottom sms-code success">
                                    <div class="sms__title">
                                        <label class="elem-label">
                                            Введите код из SMS
                                        </label>
                                        <a href="#" class="sms__link hidden-xs hidden-sm">Отправить код повторно</a>
                                    </div>
                                    <div class="sms__row">
                                        <div class="sms__input elem-item">
                                            <input type="text" class="elem-input" placeholder="" tabindex="1">
                                        </div>
                                        <div class="sms__input elem-item">
                                            <input type="text" class="elem-input" placeholder="" tabindex="2">
                                        </div>
                                        <div class="sms__input elem-item">
                                            <input type="text" class="elem-input" placeholder="" tabindex="3">
                                        </div>
                                        <div class="sms__input elem-item">
                                            <input type="text" class="elem-input" placeholder="" tabindex="4">
                                        </div>
                                    </div>
                                    <div class="sms__desc">
                                        <a href="#" class="sms__link hidden-md">Отправить код повторно</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="tabs-product__body-item" data-tabs-body-item>
                <div class="club-card">
                    <div class="club-card__group">
                        <div class="club-card__image">
                            {# <img src="assets/images/required/club-card/1-mobile.png" class="hidden-md hidden-lg hidden-xl">
                            <img src="assets/images/required/club-card/1-desktop.png" class="hidden-xs hidden-sm"> #}
                            <picture>
                                <source srcset="assets/images/required/club-card/1-mobile.png" media="(max-width: 767px)">
                                <source srcset="assets/images/required/club-card/1-desktop.png">
                                <img srcset="assets/images/required/club-card/1-desktop.png" alt="Бонусная программа">
                            </picture>
                        </div>
                        <div class="club-card__text">
                            <div class="club-card__text-item club-card__text-item--name club-card__text-item--bold">Рады видеть вас, Екатерина</div>
                            <div class="club-card__text-item club-card__text-item--current-status club-card__text-item--bold">
                                {# Ваш статус: {{ svg.icon('status-basic') }}  #}
                                Ваш статус <img src="assets/images/icons-svg/status-basic.svg" class="icon-status-basic">
                            </div>

                            <div class="club-card__text-item club-card__text-item--cashback-base hidden-xs hidden-sm"><span class="club-card__text-item--cashback-value club-card__text-item--bold">10%</span> от суммы покупки возвращаются на бонусный счет</div>
                            <div class="club-card__text-item club-card__text-item--present-base hidden-xs hidden-sm"><span class="club-card__text-item--present-value club-card__text-item--bold">300 ₽</span> подарок на День рождения</div>

                            <div class="club-card__text-item club-card__text-item--balance club-card__text-item--bold">2000 ₽</div>
                            <div class="club-card__text-item club-card__text-item--info hidden-xs hidden-sm">Добро пожаловать в нашу программу <span class="club-card__text-item--bold">HSR Бонус!</span><br /><br />Здесь вы можете посмотреть ваш текущий статус и узнать количество бонусов на карте.<br /><br />Копите бонусные рубли и повышайте свой статус! Каждая покупка приближает вас к новому уровню программы.</div>
                        </div>
                    </div>

                    <div class="club-card__group">
                        <div class="club-card__image">
                            {# <img src="assets/images/required/club-card/2-mobile.png" class="hidden-md hidden-lg hidden-xl">
                            <img src="assets/images/required/club-card/2-desktop.png" class="hidden-xs hidden-sm"> #}
                            <picture>
                                <source srcset="assets/images/required/club-card/2-mobile.png" media="(max-width: 767px)">
                                <source srcset="assets/images/required/club-card/2-desktop.png">
                                <img srcset="assets/images/required/club-card/2-desktop.png" alt="Бонусная программа">
                            </picture>
                        </div>
                        <div class="club-card__text">
                            <div class="club-card__text-item club-card__text-item--next-status">Для получения статуса <span class="club-card__text-item--bold club-card__text-item--uppercase">медиум</span> осталось совершить</div>
                            <div class="club-card__text-item club-card__text-item--purchases club-card__text-item--bold"><span>2</span> покупки</div>

                            <div class="club-card__text-item club-card__text-item--levels hidden-xs hidden-sm"><span class="club-card__text-item--bold">«Базовый»</span> уровень – для новеньких. Но уже со своими бонусами!<br /><br />После второго заказа вы переходите на уровень <span class="club-card__text-item--bold">«Медиум»</span>. Здесь еще интереснее и выгоднее.<br /><br />После четвертой покупки вы получаете самые классные привилегии.<br />Уровень <span class="club-card__text-item--bold">«Всё включено»</span> — это бесконечное удовольствие от выгодного шопинга.</div>

                            <div class="club-card__text-item club-card__text-item--status-medium">
                                {# {{ svg.icon('status-medium') }} #}
                                <img src="assets/images/icons-svg/status-medium.svg" class="icon-status-medium">
                            </div>
                            <div class="club-card__text-item club-card__text-item--status-all">
                                {# {{ svg.icon('status-all') }} #}
                                <img src="assets/images/icons-svg/status-all.svg" class="icon-status-all">
                            </div>
                            <div class="club-card__text-item club-card__text-item--cashback-medium"><span class="club-card__text-item--cashback-value club-card__text-item--bold">15%</span> от суммы покупки возвращаются на бонусный счет</div>
                            <div class="club-card__text-item club-card__text-item--cashback-all"><span class="club-card__text-item--cashback-value club-card__text-item--bold">20%</span> от суммы покупки возвращаются на бонусный счет</div>
                            <div class="club-card__text-item club-card__text-item--present-medium"><span class="club-card__text-item--present-value club-card__text-item--bold">600 ₽</span> подарок на День Рождения</div>
                            <div class="club-card__text-item club-card__text-item--present-all"><span class="club-card__text-item--present-value club-card__text-item--bold">1000 ₽</span> подарок на День Рождения</div>
                            <div class="club-card__text-item club-card__text-item--bonuses-deadline">Неограниченный срок действия бонусов</div>
                        </div>
                    </div>

                    <div class="club-card__group">
                        <div class="club-card__image">
                            {# <img src="assets/images/required/club-card/3-mobile.png" class="hidden-md hidden-lg hidden-xl">
                            <img src="assets/images/required/club-card/3-desktop.png" class="hidden-xs hidden-sm"> #}
                            <picture>
                                <source srcset="assets/images/required/club-card/3-mobile.png" media="(max-width: 767px)">
                                <source srcset="assets/images/required/club-card/3-desktop.png">
                                <img srcset="assets/images/required/club-card/3-desktop.png" alt="Бонусная программа">
                            </picture>
                        </div>
                        <div class="club-card__text">
                            <div class="club-card__text-item club-card__text-item--about">Программа <span class="club-card__text-item--bold">HSR Бонус</span> — это индивидуальные предложения, дополнительные бонусные рубли, полезные информационные сервисы и приятные сюрпризы. Каждый новый уровень даёт массу преимуществ, превращая шопинг в интересный и увлекательный процесс.<br /><br /><span class="club-card__text-item--bold">Хотите подробностей? Жмите на кнопку.</span></div>
                        </div>
                    </div>

                    <div class="col-12 col-xl-4 col-lg-4 col-md-4 offset-md-8 offset-lg-8 club-card__btn">
                        <button class="elem-btn elem-btn--lg elem-btn--w100">Условия программы лояльности</button>
                    </div>

                    <div class=" club-card__group club-card__group--slider hidden-sm hidden-xs">
                        <h3 class="light h3 h3--lg">Специально для вас</h3>
                        <div class="card__wrap">
                            <div class="card__list card__slider" data-slider-cards>
                                {% for item in data.specialProductList.list %}
                                    {{ card.card(item) }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class=" club-card__group club-card__group--slider hidden-xl hidden-lg hidden-md hidden-sm">
                        <h3 class="light h3 h3--lg">Специально для вас</h3>

                        <div class="card__list list card__slider" data-slider-cards-popup>
                            <div class="card card--inline">
                                <div class="card__img dark">
                                    <a href="#" tabindex="0"><img src="assets/images/example/card/img1.jpg" alt=""></a>
                                </div>
                                <div class="card__info">
                                    <span class="card__status ">Распродажа</span>
                                    <a href="#" class="card__name card__name--sm" tabindex="0">Комплект<br>«Созвездие Изумруд»</a>
                                </div>
                                <div class="card__bottom">
                                    <div class="card__price">
                                        <div class="elem-price-old">1 400 ₽</div>
                                        <div class="elem-price">1 000 ₽</div>
                                    </div>
                                </div>
                                <div class="card__btn">
                                    <a href="#" class="elem-btn elem-btn--light elem-btn--sm elem-btn--auto " data-add="Добавить" tabindex="0">
                                        <span class="hidden-xs hidden-sm">Добавить в корзину</span>
                                        <span class="hidden-md hidden-lg hidden-xl">В корзину</span>
                                    </a>
                                    <span class="card__like " data-like="">
                                        <svg id="favs" class="icon icon-favs" width="32" height="32" viewBox="0 0 32 32" stroke="none" stroke-width="0" xmlns="http://www.w3.org/2000/svg">
                                            <path class="bg" d="M15.8531 28.2099C16.236 28.5966 16.7464 28.5966 17.0016 28.2099C19.0433 26.1472 25.6789 19.9593 28.3587 16.6075C31.2936 13.1268 31.2936 8.48584 27.8482 5.26296C24.4028 2.04008 19.2985 3.45815 16.3636 7.71235C13.8114 3.32923 8.19668 2.29791 5.0065 5.26296C1.68871 8.35693 1.81631 13.5135 4.49607 16.6075C7.04822 19.5726 13.8114 26.1472 15.8531 28.2099Z"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8009 3.19673C24.0258 2.67803 26.337 3.16464 28.1898 4.89774C31.8458 8.3177 31.8311 13.2605 28.7451 16.9247C26.7068 19.4726 22.41 23.6404 19.5588 26.4059C18.6464 27.2909 17.882 28.0324 17.3871 28.5311C17.1662 28.8351 16.8333 28.9999 16.4752 28.9999C16.1109 28.9999 15.7652 28.8317 15.4977 28.5616C15.0359 28.095 14.3253 27.3906 13.473 26.5457C10.594 23.6918 6.09868 19.2357 4.11757 16.9342C1.2807 13.6582 1.13111 8.19312 4.66546 4.89721L4.66606 4.89665C7.96882 1.82697 13.5517 2.7507 16.3929 6.82925C17.8724 4.94387 19.7943 3.66454 21.8009 3.19673ZM22.028 4.17062C20.0932 4.62168 18.183 5.95549 16.7751 7.99621C16.6779 8.13709 16.5154 8.21847 16.3444 8.21191C16.1733 8.20535 16.0175 8.11177 15.9314 7.96387C13.5105 3.80609 8.26073 2.92134 5.3472 5.62881C2.24644 8.52066 2.3519 13.3682 4.87398 16.2801L4.87498 16.2812C6.82615 18.5481 11.2601 22.9436 14.1417 25.8002C15.007 26.6581 15.7324 27.3771 16.2084 27.8581C16.3238 27.9746 16.4247 27.9999 16.4752 27.9999C16.5142 27.9999 16.549 27.9878 16.5842 27.9344C16.6023 27.907 16.6231 27.8814 16.6462 27.8581C17.1669 27.332 17.9709 26.5521 18.9254 25.6262C21.7786 22.8585 25.9762 18.7866 27.9681 16.2952L27.9762 16.285L27.9764 16.2851C30.7561 12.9885 30.7397 8.65228 27.5066 5.62803C25.914 4.13825 23.9503 3.72245 22.028 4.17062Z"></path>
                                        </svg>
                                    </span>
                                </div>

                            </div>
                            <div class="card card--inline">
                                <div class="card__img dark">
                                    <a href="#" tabindex="0"><img src="assets/images/example/card/img1.jpg" alt=""></a>
                                </div>
                                <div class="card__info">
                                    <span class="card__status ">Распродажа</span>
                                    <a href="#" class="card__name card__name--sm" tabindex="0">Комплект<br>«Созвездие Изумруд»</a>
                                </div>
                                <div class="card__bottom">
                                    <div class="card__price">
                                        <div class="elem-price-old">1 400 ₽</div>
                                        <div class="elem-price">1 000 ₽</div>
                                    </div>
                                </div>
                                <div class="card__btn">
                                    <a href="#" class="elem-btn elem-btn--light elem-btn--sm  elem-btn--auto " data-add="Добавить" tabindex="0">
                                        <span class="hidden-xs hidden-sm">Добавить в корзину</span>
                                        <span class="hidden-md hidden-lg hidden-xl">В корзину</span>
                                    </a>
                                    <span class="card__like " data-like="">
                                        <svg id="favs" class="icon icon-favs" width="32" height="32" viewBox="0 0 32 32" stroke="none" stroke-width="0" xmlns="http://www.w3.org/2000/svg">
                                            <path class="bg" d="M15.8531 28.2099C16.236 28.5966 16.7464 28.5966 17.0016 28.2099C19.0433 26.1472 25.6789 19.9593 28.3587 16.6075C31.2936 13.1268 31.2936 8.48584 27.8482 5.26296C24.4028 2.04008 19.2985 3.45815 16.3636 7.71235C13.8114 3.32923 8.19668 2.29791 5.0065 5.26296C1.68871 8.35693 1.81631 13.5135 4.49607 16.6075C7.04822 19.5726 13.8114 26.1472 15.8531 28.2099Z"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8009 3.19673C24.0258 2.67803 26.337 3.16464 28.1898 4.89774C31.8458 8.3177 31.8311 13.2605 28.7451 16.9247C26.7068 19.4726 22.41 23.6404 19.5588 26.4059C18.6464 27.2909 17.882 28.0324 17.3871 28.5311C17.1662 28.8351 16.8333 28.9999 16.4752 28.9999C16.1109 28.9999 15.7652 28.8317 15.4977 28.5616C15.0359 28.095 14.3253 27.3906 13.473 26.5457C10.594 23.6918 6.09868 19.2357 4.11757 16.9342C1.2807 13.6582 1.13111 8.19312 4.66546 4.89721L4.66606 4.89665C7.96882 1.82697 13.5517 2.7507 16.3929 6.82925C17.8724 4.94387 19.7943 3.66454 21.8009 3.19673ZM22.028 4.17062C20.0932 4.62168 18.183 5.95549 16.7751 7.99621C16.6779 8.13709 16.5154 8.21847 16.3444 8.21191C16.1733 8.20535 16.0175 8.11177 15.9314 7.96387C13.5105 3.80609 8.26073 2.92134 5.3472 5.62881C2.24644 8.52066 2.3519 13.3682 4.87398 16.2801L4.87498 16.2812C6.82615 18.5481 11.2601 22.9436 14.1417 25.8002C15.007 26.6581 15.7324 27.3771 16.2084 27.8581C16.3238 27.9746 16.4247 27.9999 16.4752 27.9999C16.5142 27.9999 16.549 27.9878 16.5842 27.9344C16.6023 27.907 16.6231 27.8814 16.6462 27.8581C17.1669 27.332 17.9709 26.5521 18.9254 25.6262C21.7786 22.8585 25.9762 18.7866 27.9681 16.2952L27.9762 16.285L27.9764 16.2851C30.7561 12.9885 30.7397 8.65228 27.5066 5.62803C25.914 4.13825 23.9503 3.72245 22.028 4.17062Z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="card card--inline">
                                <div class="card__img dark">
                                    <a href="#" tabindex="0"><img src="assets/images/example/card/img1.jpg" alt=""></a>
                                </div>
                                <div class="card__info">
                                    <span class="card__status ">Распродажа</span>
                                    <a href="#" class="card__name card__name--sm" tabindex="0">Комплект<br>«Созвездие Изумруд»</a>
                                </div>
                                <div class="card__bottom">
                                    <div class="card__price">
                                        <div class="elem-price-old">1 400 ₽</div>
                                        <div class="elem-price">1 000 ₽</div>
                                    </div>
                                </div>
                                <div class="card__btn">
                                    <a href="#" class="elem-btn elem-btn--light elem-btn--sm  elem-btn--auto " data-add="Добавить" tabindex="0">
                                        <span class="hidden-xs hidden-sm">Добавить в корзину</span>
                                        <span class="hidden-md hidden-lg hidden-xl">В корзину</span>
                                    </a>
                                    <span class="card__like " data-like="">
                                        <svg id="favs" class="icon icon-favs" width="32" height="32" viewBox="0 0 32 32" stroke="none" stroke-width="0" xmlns="http://www.w3.org/2000/svg">
                                            <path class="bg" d="M15.8531 28.2099C16.236 28.5966 16.7464 28.5966 17.0016 28.2099C19.0433 26.1472 25.6789 19.9593 28.3587 16.6075C31.2936 13.1268 31.2936 8.48584 27.8482 5.26296C24.4028 2.04008 19.2985 3.45815 16.3636 7.71235C13.8114 3.32923 8.19668 2.29791 5.0065 5.26296C1.68871 8.35693 1.81631 13.5135 4.49607 16.6075C7.04822 19.5726 13.8114 26.1472 15.8531 28.2099Z"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8009 3.19673C24.0258 2.67803 26.337 3.16464 28.1898 4.89774C31.8458 8.3177 31.8311 13.2605 28.7451 16.9247C26.7068 19.4726 22.41 23.6404 19.5588 26.4059C18.6464 27.2909 17.882 28.0324 17.3871 28.5311C17.1662 28.8351 16.8333 28.9999 16.4752 28.9999C16.1109 28.9999 15.7652 28.8317 15.4977 28.5616C15.0359 28.095 14.3253 27.3906 13.473 26.5457C10.594 23.6918 6.09868 19.2357 4.11757 16.9342C1.2807 13.6582 1.13111 8.19312 4.66546 4.89721L4.66606 4.89665C7.96882 1.82697 13.5517 2.7507 16.3929 6.82925C17.8724 4.94387 19.7943 3.66454 21.8009 3.19673ZM22.028 4.17062C20.0932 4.62168 18.183 5.95549 16.7751 7.99621C16.6779 8.13709 16.5154 8.21847 16.3444 8.21191C16.1733 8.20535 16.0175 8.11177 15.9314 7.96387C13.5105 3.80609 8.26073 2.92134 5.3472 5.62881C2.24644 8.52066 2.3519 13.3682 4.87398 16.2801L4.87498 16.2812C6.82615 18.5481 11.2601 22.9436 14.1417 25.8002C15.007 26.6581 15.7324 27.3771 16.2084 27.8581C16.3238 27.9746 16.4247 27.9999 16.4752 27.9999C16.5142 27.9999 16.549 27.9878 16.5842 27.9344C16.6023 27.907 16.6231 27.8814 16.6462 27.8581C17.1669 27.332 17.9709 26.5521 18.9254 25.6262C21.7786 22.8585 25.9762 18.7866 27.9681 16.2952L27.9762 16.285L27.9764 16.2851C30.7561 12.9885 30.7397 8.65228 27.5066 5.62803C25.914 4.13825 23.9503 3.72245 22.028 4.17062Z"></path>
                                        </svg>
                                    </span>
                                </div>

                            </div>
                            <div class="card card--inline">
                                <div class="card__img dark">
                                    <a href="#" tabindex="0"><img src="assets/images/example/card/img1.jpg" alt=""></a>
                                </div>
                                <div class="card__info">
                                    <span class="card__status ">Распродажа</span>
                                    <a href="#" class="card__name card__name--sm" tabindex="0">Комплект<br>«Созвездие Изумруд»</a>
                                </div>
                                <div class="card__bottom">
                                    <div class="card__price">
                                        <div class="elem-price-old">1 400 ₽</div>
                                        <div class="elem-price">1 000 ₽</div>
                                    </div>
                                </div>
                                <div class="card__btn">
                                    <a href="#" class="elem-btn elem-btn--light elem-btn--sm  elem-btn--auto " data-add="Добавить" tabindex="0">
                                        <span class="hidden-xs hidden-sm">Добавить в корзину</span>
                                        <span class="hidden-md hidden-lg hidden-xl">В корзину</span>
                                    </a>
                                    <span class="card__like " data-like="">
                                        <svg id="favs" class="icon icon-favs" width="32" height="32" viewBox="0 0 32 32" stroke="none" stroke-width="0" xmlns="http://www.w3.org/2000/svg">
                                            <path class="bg" d="M15.8531 28.2099C16.236 28.5966 16.7464 28.5966 17.0016 28.2099C19.0433 26.1472 25.6789 19.9593 28.3587 16.6075C31.2936 13.1268 31.2936 8.48584 27.8482 5.26296C24.4028 2.04008 19.2985 3.45815 16.3636 7.71235C13.8114 3.32923 8.19668 2.29791 5.0065 5.26296C1.68871 8.35693 1.81631 13.5135 4.49607 16.6075C7.04822 19.5726 13.8114 26.1472 15.8531 28.2099Z"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8009 3.19673C24.0258 2.67803 26.337 3.16464 28.1898 4.89774C31.8458 8.3177 31.8311 13.2605 28.7451 16.9247C26.7068 19.4726 22.41 23.6404 19.5588 26.4059C18.6464 27.2909 17.882 28.0324 17.3871 28.5311C17.1662 28.8351 16.8333 28.9999 16.4752 28.9999C16.1109 28.9999 15.7652 28.8317 15.4977 28.5616C15.0359 28.095 14.3253 27.3906 13.473 26.5457C10.594 23.6918 6.09868 19.2357 4.11757 16.9342C1.2807 13.6582 1.13111 8.19312 4.66546 4.89721L4.66606 4.89665C7.96882 1.82697 13.5517 2.7507 16.3929 6.82925C17.8724 4.94387 19.7943 3.66454 21.8009 3.19673ZM22.028 4.17062C20.0932 4.62168 18.183 5.95549 16.7751 7.99621C16.6779 8.13709 16.5154 8.21847 16.3444 8.21191C16.1733 8.20535 16.0175 8.11177 15.9314 7.96387C13.5105 3.80609 8.26073 2.92134 5.3472 5.62881C2.24644 8.52066 2.3519 13.3682 4.87398 16.2801L4.87498 16.2812C6.82615 18.5481 11.2601 22.9436 14.1417 25.8002C15.007 26.6581 15.7324 27.3771 16.2084 27.8581C16.3238 27.9746 16.4247 27.9999 16.4752 27.9999C16.5142 27.9999 16.549 27.9878 16.5842 27.9344C16.6023 27.907 16.6231 27.8814 16.6462 27.8581C17.1669 27.332 17.9709 26.5521 18.9254 25.6262C21.7786 22.8585 25.9762 18.7866 27.9681 16.2952L27.9762 16.285L27.9764 16.2851C30.7561 12.9885 30.7397 8.65228 27.5066 5.62803C25.914 4.13825 23.9503 3.72245 22.028 4.17062Z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>


    </div>
{% endmacro %}



