{% macro pagination() %}
    {% import '../../page/_macros/_svg.twig' as svg %}

	<nav class="pagination">
        <ul class="pagination__list">
            <a href="#" class="pagination__link pagination__link--prev disabled">
                {{ svg.icon('arrow-back') }}
            </a>

            {% for i in 1..20 %}
              {% if (i < 4) or (i > 17) %}
                <li class="pagination__item">
                  {% if i == 1 %}
                    <span class="pagination__text">{{ i }}</span>
                  {% else %}
                    <a href="#" class="pagination__link">{{ i }}</a>
                  {% endif %}
                </li>
              {% else %}
                {% if (i == 8) %}
                  <li class="pagination__item">
                    <a href="#" class="pagination__link pagination__link--more">...</a>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}

            <a href="#" class="pagination__link pagination__link--next">{{ svg.icon('arrow-back') }}</a>
        </ul>
	</nav>
{% endmacro %}

{% macro paginationSmall() %}
    {% import '../../page/_macros/_svg.twig' as svg %}

	<nav class="pagination pagination--sm">
        <ul class="pagination__list">
            <a href="#" class="pagination__link pagination__link--prev disabled">
                {{ svg.icon('arrow-back') }}
            </a>

            <li class="pagination__item">
                <a href="#" class="pagination__text">1</a>
            </li>

            <a href="#" class="pagination__link pagination__link--next disabled">{{ svg.icon('arrow-back') }}</a>
        </ul>
	</nav>
{% endmacro %}
