<footer id="footer" class="footer">
    <div class="footer__top order-md-2 order-lg-0">
        <div class="container">
            <form class="footer__subscribe">
                <div class="footer__subscribe-icon">
                    {{ svg.icon('mail_illustration') }}
                </div>
                <div class="elem-item footer__subscribe-item">
                    <label class="elem-label footer__label">Узнавайте об акциях и скидках первыми!</label>
                    <input type="email" class="elem-input elem-input--xs footer__input" placeholder="Введите ваш e-mail">
                    <button class="elem-btn footer__btn">Подписаться</button>
                </div>
            </form>
            <div class="footer__inner">
                <div class="footer__col footer__row-mobile">
                    <a href="main.html" class="elem-logo footer__logo">
                        {{ svg.icon('logo') }}
                    </a>

                    <div class="header__contacts hidden-md hidden-lg hidden-xl">
                        <div class="header__contacts-title">
                            <span class="header__contacts-title-desc">Звоните 24/7</span>
                            Обратный звонок
                        </div>
                        <a href="tel:8800707502" class="header__contacts-phone">
                            8 800 707-50-25
                        </a>
                        <div class="header__contacts-desc">Звонок по России бесплатный</div>
                    </div>
                </div>
                <div class="footer__menu">
                    {{ menu.menu(menuFooter) }}
                </div>
                <div class="footer__col footer__col--social">
                    {{ social.social(socialList) }}
                </div>
                <div class="footer__col footer__col--pay">
                    {{ pay.pay(payList) }}

                    <div class="footer__adress hidden-xs hidden-sm">
                        <p>ОГРН 1137746372290</p>
                        <p>109052 г. Москва, ул. Смирновская, д. 4, стр.2</p>
                        <p>© 2013-2019 ООО «Хом Шоппинг <br class="hidden-lg hidden-xl">Раша» Все права защищены.</p>
                    </div>
                </div>
                <div class="footer__adress hidden-md hidden-lg hidden-xl">
                    <p>ОГРН 1137746372290</p>
                    <p>109052 г. Москва, ул. Смирновская, д. 4, стр.2</p>
                    <p>© 2013-2019 ООО «Home Shopping Russia» Все права защищены.</p>
                </div>
            </div>
        </div>
    </div>

    {# <div class="footer__bottom dark order-md-1 order-lg-0">
        <div class="container">
            <div class="footer__inner">
                <a href="#" class="footer__link hidden-md hidden-sm hidden-xs">
                    {{ svg.icon('consultant') }} Связаться с нами
                </a>

                <a href="#" class="footer__link hidden-md hidden-sm hidden-xs">
                    {{ svg.icon('ask') }} Онлайн консультант
                </a>

                <form class="footer__subscribe">
                    <div class="footer__subscribe-icon hidden-lg hidden-xl">
                        {{ svg.icon('mail_illustration') }}
                    </div>
                    <div class="elem-item footer__subscribe-item">
                        <label class="elem-label footer__label">Узнавайте об акциях и скидках первыми!</label>
                        <input type="text" class="elem-input elem-input--xs footer__input" placeholder="Введите ваш e-mail">
                        <button class="elem-btn elem-btn--xs footer__btn">Подписаться</button>
                    </div>
                </form>
            </div>
        </div>
    </div> #}

    {# <div class="footer__consult dark hidden-md hidden-lg hidden-xl">
        <div class="container">
            <div class="footer__inner">
                <a href="#" class="footer__link">
                    {{ svg.icon('consultant') }} Звонок консультанту
                </a>

                <a href="#" class="footer__link">
                    {{ svg.icon('ask') }} Задайте нам вопрос
                </a>
            </div>
        </div>
    </div> #}
</footer>
