{% macro cataloglist(data) %}
    {% import '../../page/_macros/_svg.twig' as svg %}

    <div class="catalog-list">
        <div class="catalog-list__row">
            {# <div class="catalog-list__col">
                {% for item in data.list %}
                    {% if loop.index == 1 %}
                        <div class="catalog-list__item">
                            <a href="#" class="catalog-list__title dark">
                                <div class="catalog-list__icon">
                                    {{ svg.icon(item.icon) }}
                                </div>
                                {{ item.title }}
                            </a>

                            {% if item.list %}
                                <div class="catalog-list__item">
                                    {% for item2 in item.list %}
                                        <div class="catalog-list__list">
                                            <h6><a href="#">{{ item2.title }}</a></h6>

                                            {% if item2.list %}
                                                <div class="catalog-list__list-inner">
                                                    {% for item3 in item2.list %}
                                                        <div class="catalog-list__item">
                                                            <a href="{{ item3.href }}" class="catalog-list__link">{{ item3.text }}</a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div> #}

            {# <div class="catalog-list__col"> #}
                {# <div class="catalog-list__row"> #}
                    {% for item in data.list %}
                        {# {% if loop.index > 1 %} #}
                            <div class="catalog-list__item catalog-list__item--col4">
                                <a href="#" class="catalog-list__title dark {% if item.color %}{{ item.color }}{% endif %}">
                                    <div class="catalog-list__icon">
                                        {{ svg.icon(item.icon) }}
                                    </div>
                                    {{ item.title }}
                                </a>

                                {% if item.list %}
                                    <div class="catalog-list__item">
                                        {% for item2 in item.list %}
                                            <div class="catalog-list__list">
                                                <h6><a href="#">{{ item2.title }}</a></h6>

                                                {% if item2.list %}
                                                    <div class="catalog-list__list-inner">
                                                        {% for item3 in item2.list %}
                                                            <div class="catalog-list__item">
                                                                <a href="{{ item3.href }}" class="catalog-list__link">{{ item3.title }}</a>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {# {% endif %} #}
                    {% endfor %}
                {# </div> #}
            {# </div> #}
        </div>
    </div>
{% endmacro %}
