{% macro slider(data) %}

    {% import '../../page/_macros/_prefix.twig' as pr %}
    {% import '../../page/_macros/_mod.twig' as mod %}
    {% import '../../page/_macros/_attr.twig' as attr %}

    {% set pr = pr.generatePrefix('slider', data.prefix) %}
    {% set mod = mod.generateMod('slider', data.prefix, data.mod) %}
    {% set attr = attr.generateAttr('slider', data.prefix) %}

    <div class="slider{{pr}} {{mod}}" {{attr}}>

        {% for item in data.list %}
            <div class="slider{{pr}}__item {% if item.video %}slider{{pr}}__item--video{% endif %} dark">
                {% if pr == '-product' %}
                    {% if item.video %}
                        <iframe src="https://www.youtube.com/embed/QqzhPkk4NMQ?rel=0&amp;controls=1&amp&amp;showinfo=0&amp;modestbranding=0" width="100%" height="430" frameborder="0" allowfullscreen=""></iframe>
                    {% else %}
                        <img src="{{ item.img }}" srcset="{{ item.img2 }} 480w, {{ item.img }}" alt="{{ item.img_alt }}" class="slider{{pr}}__img">
                    {% endif %}
                {% else %}
                    <img src="{{ item.img }}" srcset="{{ item.img2 }} 480w, {{ item.img }}" alt="{{ item.img_alt }}" class="slider{{pr}}__img">
                {% endif %}

                {% if item.name %}
                    <div class="slider{{pr}}__name">{{ item.name }}</div>
                {% endif %}

                {% if item.title %}
                    <h3>{{ item.title }}</h3>
                {% endif %}

                {% if item.btn %}
                    <a href="#" class="elem-btn">{{ item.btn }}</a>
                {% endif %}

                {% if item.video %}
                    {% if pr == '-product-carousel' %}
                        <div class="slider{{pr}}__bg">
                            {% if data.prefix == "product-carousel" %}
                                <span class="elem-play"></span>
                            {% else %}
                                <a href="#{{ item.video }}" class="elem-play" data-popup-modal></a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}

    </div>

{% endmacro %}
