{% extends "template/layout.twig" %}

{% import '../components/menu/menu.twig' as menu %}
{% import '../components/hamburger/hamburger.twig' as hamburger %}
{% import '../components/social/social.twig' as social %}
{% import '../components/pay/pay.twig' as pay %}
{% import '../components/breadcrumbs/breadcrumbs.twig' as breadcrumbs %}
{% import '../components/banner/banner.twig' as banner %}
{% import '../components/teaser/teaser.twig' as teaser %}

{% block title %}{{ page_title }}{% endblock %}

{% block bodyClass %}page-about{% endblock %}

{% block content %}

	<div class="container">
        <div class="container__inner">
            {# хлебные крошки #}
            {{ breadcrumbs.breadcrumbs(breadcrumbsList) }}

            {# заголовок #}
            <h1 class="h2 elem-title">О компании Home Shopping Russia</h1>

            {# баннер #}
            {{ banner.banner(bannerList) }}

            {# Тизер #}
            {{ teaser.teaser(teaserList) }}

            <div class="content">
                <p>
                    Home shopping Russia — крупнейший оператор DRTV-продаж на территории СНГ. Мы работаем с 2013 года, предлагая нашим клиентам функциональные, уникальные и нужные товары. О нашей продукции мы рассказываем в рекламных роликах, которые снимаем сами. Нас транслируют многие популярные телеканалы, в том числе федеральные: «Россия 1», «ТВЦ», «Домашний», «Рен ТВ», «СТС» и т.д.
                </p>
                <p>
                    На сегодняшний день Home shopping Russia — это ещё и интернет-магазин интересных, функциональных и полезных вещей. Эксклюзивная косметика, оригинальная одежда и обувь, необычные товары для дома и сада — всё это и даже больше ждет вас на нашем сайте!
                </p>

                <div class="page-about__list">
                    <div class="page-about__item">
                        <div class="page-about__head">Просто и быстро</div>
                        <div class="page-about__text">
                            Совершать покупки на сайте также легко, как и в телемагазине. Всего несколько кликов – и вы уже обладаете стильными и оригинальными украшениями…<br>
                            Всего несколько кликов – и классные, нужные товары для дома уже ваши!
                        </div>
                    </div>

                    <div class="page-about__item">
                        <div class="page-about__head">Приятные цены</div>
                        <div class="page-about__text">
                            Наш магазин гарантирует привлекательный прайс на весь ассортимент предоставляемой продукции. Мы продумали грамотное управление издержками, выстроили сотрудничество с производителями без посредников, чтобы наши покупатели смогли приобретать качественные товары по самым приятным ценам.
                        </div>
                    </div>
                </div>

                <h2 class="elem-title">Наши преимущества</h2>

                <ul class="list-mark">
                    <li>Оригинальная продукция, привлекательный прайс, гарантия возврата товара — это безусловные преимущества компании. Однако особым поводом для гордости мы считаем нашу клиентоориентированность. Какие бы вопросы у вас ни возникли относительно товаров или доставки, профессиональные менеджеры компании с удовольствием проконсультируют вас в любое время суток!</li>
                    <li>Также мы предлагаем нашим клиентам программу лояльности, выгодные акции и ежедневные спецпредложения и, конечно же, удобную доставку. Мы быстро укомплектуем ваш заказ и доставим его по указанному адресу в любой город нашей страны! Курьером или «Почтой России» — выбирать вам.</li>
                    <li>И самое приятное: вы платите за заказ только после его получения. Потому что мы знаем, что для вас это важно! А нам важно, чтобы, совершая покупки на нашем сайте, вы получали только положительные эмоции. Итак, наливайте кофе, усаживайтесь поудобнее и наслаждайтесь шопингом!</li>
                </ul>

                <h2 class="elem-title">Наши реквизиты</h2>

                <div class="page-about__props">
                    <div class="page-about__props-item">
                        <b>Полное наименование:</b> ООО «Хом шоппинг раша»
                    </div>
                    <div class="page-about__props-item">
                        <b>Адрес для приема возвратов и корреспонденции:</b> <br class="hidden-sm hidden-md hidden-lg hidden-xl">109052 г. Москва, ул. Смирновская, д. 4, стр.2
                    </div>
                    <div class="page-about__props-item">
                        <b>Юридический адрес:</b> 109052 г. Москва, ул. Смирновская, д. 4, стр.2
                    </div>
                    <div class="page-about__props-item">
                        <b>ОГРН:</b> 1137746372290
                    </div>
                </div>
            </div>
        </div>
	</div>

    <a href="#" class="online-support">
        {{ svg.icon('ask') }}
    </a>

{% endblock %}
