{% extends "template/layout.twig" %}

{% import '../components/menu/menu.twig' as menu %}
{% import '../components/hamburger/hamburger.twig' as hamburger %}
{% import '../components/social/social.twig' as social %}
{% import '../components/pay/pay.twig' as pay %}
{% import '../components/banner/banner.twig' as banner %}
{% import '../components/teaser/teaser.twig' as teaser %}
{% import '../components/actions/actions.twig' as actions %}
{% import '../components/breadcrumbs/breadcrumbs.twig' as breadcrumbs %}

{% block title %}{{ page_title }}{% endblock %}

{% block bodyClass %}page-actions{% endblock %}

{% block content %}
    <div class="container">
        <div class="container__inner">

            {# хлебные крошки #}
            {{ breadcrumbs.breadcrumbs(breadcrumbsList) }}
        </div>
    </div>

    {# Баннер #}
	{{ banner.banner(bannerList) }}

	<div class="container">
		{{ teaser.teaser(teaserList) }}

		{{ actions.actions(actionsList) }}
	</div>

{% endblock %}
