{% extends "template/layout.twig" %}

{% import '../components/menu/menu.twig' as menu %}
{% import '../components/hamburger/hamburger.twig' as hamburger %}
{% import '../components/social/social.twig' as social %}
{% import '../components/pay/pay.twig' as pay %}
{% import '../components/breadcrumbs/breadcrumbs.twig' as breadcrumbs %}
{% import '../components/banner/banner.twig' as banner %}
{% import '../components/teaser/teaser.twig' as teaser %}
{% import '../components/why/why.twig' as why %}

{% block title %}{{ page_title }}{% endblock %}

{% block bodyClass %}page-guarantees{% endblock %}

{% block content %}

	<div class="container">
        <div class="container__inner">
            {# хлебные крошки #}
            {{ breadcrumbs.breadcrumbs(breadcrumbsList) }}

            {# заголовок #}
            <h1 class="h2 elem-title">Гарантия качества</h1>

            {# баннер #}
            {{ banner.banner(bannerList) }}

            {# Тизер #}
            {{ teaser.teaser(teaserList) }}

            {# Почему нам доверяют? #}
            {{ why.why(whyList) }}

            <div class="elem-quest">
                <div class="elem-quest__img">
                    {{ svg.icon('tel') }}
                </div>
                <div class="elem-quest__text">
                    По вопросам, связанным с качеством нашей продукции, вы можете обращаться к менеджерам компании по телефону 8 (800) 707-50-25, они с удовольствием вас проконсультируют.
                </div>
            </div>
        </div>
	</div>

{% endblock %}
