{% extends "template/layout.twig" %}

{% import '../components/menu/menu.twig' as menu %}
{% import '../components/hamburger/hamburger.twig' as hamburger %}
{% import '../components/banner/banner.twig' as banner %}
{% import '../components/slider/slider.twig' as slider %}
{% import '../components/tabs/tabs.twig' as tabs %}
{% import '../components/recommend-slider/recommend.twig' as recommend %}
{% import '../components/social/social.twig' as social %}
{% import '../components/pay/pay.twig' as pay %}
{% import '../components/card/card.twig' as card %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block bodyClass %}page-main
{% endblock %}

{% block pageClass %}page--overflow-hide
{% endblock %}

{% block content %}
	<div class="container">
		{{ banner.banner(bannerList) }}
	</div>

	<div class="container d-flex flex-column">
		{{ menu.menu(advantagesList) }}


		<div class="slider__wrap hidden-lg hidden-xl">
			<div class="container__inner">
				<h2 class="elem-title">Популярные категории</h2>
			</div>
			<!-- {{ slider.slider(sliderPopular) }} -->

			<div class="swiper-wrap">
				<div class="slider-category swiper-container" data-slider-category>
					<div class="swiper-wrapper">
						{% for item in sliderPopular.list %}
							<div class="swiper-slide slider-category__item dark">
								<img src="{{ item.img }}" srcset="{{ item.img2 }} 480w, {{ item.img }}" alt="{{ item.img_alt }}" class="slider-category__img">
								<div class="slider-category__name">{{ item.name }}</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<button type="button" class="slick-arrow slick-prev slick-prev--carousel"></button>
				<button type="button" class="slick-arrow slick-next slick-next--carousel"></button>
			</div>
		</div>

		{{ tabs.tabs(tabsList) }}

        <div class="container__in-max">
            <h2 class="h2 elem-title elem-title--row">
                <span>Бренды</span>
            </h2>

            <div class="tabs__body js-tabs-body slider-block-brands">
                <div class="tabs__body-item open">
                    <div class="brand__wrap">
                        <div class="brand__list brand__slider brand__slider--max">
                            <div class="swiper-container swiper-container-initialized swiper-container-horizontal" data-slider-brands>
                                <div class="swiper-wrapper">
                                    <div class="brand swiper-slide" id="bx_1373509569_5654">
                                        <div class="brand__img">
                                            <a href="/catalog/gemlux/"><img src="assets/images/example/slider-block/img1.png" alt="Gemlux"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_5652">
                                        <div class="brand__img">
                                            <a href="/catalog/philips/"><img src="assets/images/example/slider-block/img2.png" alt="PHILIPS"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_5664">
                                        <div class="brand__img">
                                            <a href="/catalog/starwind/"><img src="assets/images/example/slider-block/img3.png" alt="Starwind"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_5666">
                                        <div class="brand__img">
                                            <a href="/catalog/scarlett/"><img src="assets/images/example/slider-block/img4.png" alt="SCARLETT"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_8957">
                                        <div class="brand__img">
                                            <a href="/catalog/interskol/"><img src="assets/images/example/slider-block/img5.png" alt="ИНТЕРСКОЛ"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_5662">
                                        <div class="brand__img">
                                            <a href="/catalog/bort/"><img src="assets/images/example/slider-block/img6.png" alt="Bort"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_6193">
                                        <div class="brand__img">
                                            <a href="/catalog/samsung/"><img src="assets/images/example/slider-block/img7.png" alt="SAMSUNG"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_7653">
                                        <div class="brand__img">
                                            <a href="/catalog/bradex/"><img src="assets/images/example/slider-block/img8.png" alt="Bradex"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_7325">
                                        <div class="brand__img">
                                            <a href="/catalog/amarobaby/"><img src="assets/images/example/slider-block/img9.png" alt="AMAROBABY"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_5653">
                                        <div class="brand__img">
                                            <a href="/catalog/polaris/"><img src="assets/images/example/slider-block/img10.png" alt="Polaris"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_7302">
                                        <div class="brand__img">
                                            <a href="/catalog/tako/"><img src="assets/images/example/slider-block/img11.png" alt="TAKO"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_7767">
                                        <div class="brand__img">
                                            <a href="/catalog/naomi/"><img src="assets/images/example/slider-block/img12.png" alt="NAOMI"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_6195">
                                        <div class="brand__img">
                                            <a href="/catalog/buro/"><img src="assets/images/example/slider-block/img13.png" alt="BURO"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_7303">
                                        <div class="brand__img">
                                            <a href="/catalog/junama/"><img src="assets/images/example/slider-block/img14.png" alt="JUNAMA"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_6359">
                                        <div class="brand__img">
                                            <a href="/catalog/dobrynya/"><img src="assets/images/example/slider-block/img15.png" alt="Добрыня"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_5656">
                                        <div class="brand__img">
                                            <a href="/catalog/sinbo/"><img src="assets/images/example/slider-block/img16.png" alt="Sinbo"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_6217">
                                        <div class="brand__img">
                                            <a href="/catalog/karcher/"><img src="assets/images/example/slider-block/img17.png" alt="KARCHER"></a>
                                        </div>
                                    </div>

                                    <div class="brand swiper-slide" id="bx_1373509569_6214">
                                        <div class="brand__img">
                                            <a href="/catalog/panasonic/"><img src="assets/images/example/slider-block/img18.png" alt="PANASONIC"></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                                <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                                <div class="swiper-scrollbar"><div class="swiper-scrollbar-drag" style="transform: translate3d(0px, 0px, 0px); width: 0px;"></div></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="collections">
            <div class="collections__row">
                <div class="collections__col">
                    <a href="#" class="collections__banner">
                        <div class="collections__banner-title">Детские товары</div>
                        <img src="assets/images/example/collections/img1.jpg" alt="" class="collections__banner-img">
                    </a>
                    <div class="collections__list">
                        {% for item in collections.list %}
                            <div class="collections__item">
                                {{ card.card(item) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="collections__col">
                    <div class="swiper-container" data-collections-slider="">
                        <div class="swiper-wrapper">
                            {% for item in collections.slider %}
                                <div class="swiper-slide collections__row">
                                    <a href="#" class="collections__banner collections__banner--slider">
                                        <div class="collections__banner-title">{{ item.title }}</div>
                                        <img src="{{ item.img }}" alt="" class="collections__banner-img">
                                    </a>
                                    <div class="collections__list">
                                        {% for item2 in item.list %}
                                            <div class="collections__item">
                                                {{ card.card(item2) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-buttons">
                            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>

		{{ banner.banner(bannerInner) }}

        <div class="collections  order-xl-1 order-lg-1">
            <div class="collections__row collections__row--stretch">
                <div class="collections__card">
                    <h2 class="elem-title collections__title">Бестселлер</h2>
                    {{ card.card(collections2.card) }}
                </div>
                <div class="collections__list">
                    {% for item in collections2.list %}
                        <div class="collections__item collections__item--min">
                            {{ card.card(item) }}
                        </div>
                    {% endfor %}
                </div>
                <a href="#" class="collections__banner collections__banner--right">
                    <img src="assets/images/example/collections/img1.jpg" alt="" class="collections__banner-img">
                </a>
            </div>
        </div>

		{{ recommend.recommend(recommendList) }}

		{{ banner.banner(bannerFull) }}

		{{ recommend.recommend(viewList) }}
	</div>

	<a href="#" class="online-support">
		{{ svg.icon('ask') }}
	</a>

{% endblock %}
