{% extends "template/layout.twig" %}

{% import '../components/menu/menu.twig' as menu %}
{% import '../components/hamburger/hamburger.twig' as hamburger %}
{% import '../components/breadcrumbs/breadcrumbs.twig' as breadcrumbs %}
{% import '../components/card/card.twig' as card %}
{% import '../components/pagination/pagination.twig' as pagination %}
{% import '../components/filter/filter.twig' as filters %}
{% import '../components/social/social.twig' as social %}
{% import '../components/pay/pay.twig' as pay %}

{% block title %}{{ page_title }}{% endblock %}

{% block bodyClass %}page-categories{% endblock %}

{% block content %}

	<div class="container">
        <div class="container__inner">

            {# хлебные крошки #}
            {{ breadcrumbs.breadcrumbs(breadcrumbsList) }}

            <div class="elem-back hidden-lg hidden-xl">
                {{ svg.icon('arrow-back2') }}
                Назад

                <div class="elem-back__list">
                    <div class="elem-back__item">
                        <a href="#" class="elem-back__link">Уход за кожей</a>
                    </div>
                    <div class="elem-back__item">
                        <a href="#" class="elem-back__link">Товары по уходу</a>
                    </div>
                    <div class="elem-back__item">
                        <a href="#" class="elem-back__link">Красота и здоровье</a>
                    </div>
                </div>
            </div>

            {# заголовок #}
            <h1 class="h2 elem-title elem-title--row">
                <span>Красота и здоровье</span><span class="elem-title__count hidden-xs">Товары: 20 000</span>
            </h1>

            {# фильтр #}
            {# {{ filters.filter(filterList) }} #}

            <div class="filter-big-icon">

                <div class="filter-big-icon__row">

                    <a class="filter-big-item filter-big-item--mr-0" href="#">
                        <img class="filter-big-item__img" src="assets/images/example/filter/photo.jpg" alt="Изображение">
                        <span class="filter-big-item__text">Фото и видеотехника<span>
                    </a>

                    <a class="filter-big-item filter-big-item--mobile-hide" href="#">
                        <img class="filter-big-item__img" src="assets/images/example/filter/phone.jpg" alt="Изображение">
                        <span class="filter-big-item__text">Телефоны и планшеты<span>
                    </a>
                    
                </div>
                
                <div class="filter-big-icon__row filter-big-icon__row--mobile-hide">

                    <a class="filter-big-item" href="#">
                        <img class="filter-big-item__img" src="assets/images/example/filter/electronics.jpg" alt="Изображение">
                        <span class="filter-big-item__text">Автоэлектроника<span>
                    </a>

                    <a class="filter-big-item" href="#">
                        <img class="filter-big-item__img" src="assets/images/example/filter/audio.jpg" alt="Изображение">
                        <span class="filter-big-item__text">Аудио и видео электроника<span>
                    </a>

                    <a class="filter-big-item" href="#">
                        <img class="filter-big-item__img" src="assets/images/example/filter/notebook.jpg" alt="Изображение">
                        <span class="filter-big-item__text">Ноутбуки, компьютеры, гаджеты<span>
                    </a>

                </div>

                <div class="filter-big-icon__row filter-big-icon__row--mobile-show">
                    <a class="filter-big-item" href="#">
                        <img class="filter-big-item__img" src="assets/images/example/filter/phone-mob.jpg" alt="Изображение">
                        <span class="filter-big-item__text">Телефоны и планшеты<span>
                    </a>

                    <a class="filter-big-item" href="#">
                        <img class="filter-big-item__img" src="assets/images/example/filter/electronics-mob.jpg" alt="Изображение">
                        <span class="filter-big-item__text">Автоэлектроника<span>
                    </a>
                </div>

                <div class="filter-big-icon__row filter-big-icon__row--mobile-show">
                    <a class="filter-big-item" href="#">
                        <img class="filter-big-item__img" src="assets/images/example/filter/audio-mob.jpg" alt="Изображение">
                        <span class="filter-big-item__text">Аудио и видео электроника<span>
                    </a>

                    <a class="filter-big-item" href="#">
                        <img class="filter-big-item__img" src="assets/images/example/filter/notebook-mob.jpg" alt="Изображение">
                        <span class="filter-big-item__text">Ноутбуки, компьютеры, гаджеты<span>
                    </a>
                </div>

            </div>

            <h2 class="h2 elem-title elem-title--row">
                <span>Товары по супер скидке!</span>
            </h2>
            
            <div class="tabs__body js-tabs-body slider-block-sale" data-tabs-body>
                <div class="tabs__body-item open" data-tabs-body-item>
                    <div class="card__wrap">
                        <div class="card__list card__slider">
                            <div class="swiper-container swiper-container-initialized swiper-container-horizontal" data-tabs-slider>
                                <div class="swiper-wrapper">

                                   <div class="card swiper-slide">
                                        <div class="card__img dark">
                                            <a href="#"><img src="assets/images/example/slider-block/img-1.jpg" alt=""></a>
                                            <span class="card__status ">Распродажа</span>
                                        </div>
                                        <div class="card__info">
                                            <a href="#" class="card__name">Кабель Digma USB 0.15 м черный</a>
                                        </div>
                                        <div class="card__bottom">
                                            <div class="card__price">
                                                <div class="elem-price-old">590 <span class="elem-rub">i</span></div>
                                                <div class="elem-price">390 <span class="elem-rub">i</span></div>
                                                            </div>
                                                            <a href="#" class="elem-btn elem-btn--light elem-btn--sm  " data-add="Добавить">В корзину</a>
                                                    </div>
                                                    <span class="card__like " data-like="">
                                            
                                            <svg id="favs" class="icon icon-favs" width="32" height="32" viewBox="0 0 32 32" stroke="none" stroke-width="0" xmlns="http://www.w3.org/2000/svg">
                                                <path class="bg" d="M15.8531 28.2099C16.236 28.5966 16.7464 28.5966 17.0016 28.2099C19.0433 26.1472 25.6789 19.9593 28.3587 16.6075C31.2936 13.1268 31.2936 8.48584 27.8482 5.26296C24.4028 2.04008 19.2985 3.45815 16.3636 7.71235C13.8114 3.32923 8.19668 2.29791 5.0065 5.26296C1.68871 8.35693 1.81631 13.5135 4.49607 16.6075C7.04822 19.5726 13.8114 26.1472 15.8531 28.2099Z"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8009 3.19673C24.0258 2.67803 26.337 3.16464 28.1898 4.89774C31.8458 8.3177 31.8311 13.2605 28.7451 16.9247C26.7068 19.4726 22.41 23.6404 19.5588 26.4059C18.6464 27.2909 17.882 28.0324 17.3871 28.5311C17.1662 28.8351 16.8333 28.9999 16.4752 28.9999C16.1109 28.9999 15.7652 28.8317 15.4977 28.5616C15.0359 28.095 14.3253 27.3906 13.473 26.5457C10.594 23.6918 6.09868 19.2357 4.11757 16.9342C1.2807 13.6582 1.13111 8.19312 4.66546 4.89721L4.66606 4.89665C7.96882 1.82697 13.5517 2.7507 16.3929 6.82925C17.8724 4.94387 19.7943 3.66454 21.8009 3.19673ZM22.028 4.17062C20.0932 4.62168 18.183 5.95549 16.7751 7.99621C16.6779 8.13709 16.5154 8.21847 16.3444 8.21191C16.1733 8.20535 16.0175 8.11177 15.9314 7.96387C13.5105 3.80609 8.26073 2.92134 5.3472 5.62881C2.24644 8.52066 2.3519 13.3682 4.87398 16.2801L4.87498 16.2812C6.82615 18.5481 11.2601 22.9436 14.1417 25.8002C15.007 26.6581 15.7324 27.3771 16.2084 27.8581C16.3238 27.9746 16.4247 27.9999 16.4752 27.9999C16.5142 27.9999 16.549 27.9878 16.5842 27.9344C16.6023 27.907 16.6231 27.8814 16.6462 27.8581C17.1669 27.332 17.9709 26.5521 18.9254 25.6262C21.7786 22.8585 25.9762 18.7866 27.9681 16.2952L27.9762 16.285L27.9764 16.2851C30.7561 12.9885 30.7397 8.65228 27.5066 5.62803C25.914 4.13825 23.9503 3.72245 22.028 4.17062Z"></path>
                                            </svg>
                                        </span>
                                    </div> 

                                    <div class="card swiper-slide">
                                        <div class="card__img dark">
                                            <a href="#">
                                                <img src="assets/images/example/slider-block/img-2.jpg" alt="">
                                            </a>
                                            <span class="card__status">Распродажа</span>
                                        </div>
                                        <div class="card__info">
                                            <a href="#" class="card__name">Гарнитура Digma беспроводные</a>
                                        </div>
                                        <div class="card__bottom">
                                            <div class="card__price">
                                                                    <div class="elem-price-old">1 190 <span class="elem-rub">i</span></div>
                                                    <div class="elem-price">890 <span class="elem-rub">i</span></div>
                                                            </div>
                                                            <a href="#" class="elem-btn elem-btn--light elem-btn--sm  " data-add="Добавить">В корзину</a>
                                                    </div>
                                                    <span class="card__like " data-like="">
                                            
                                            <svg id="favs" class="icon icon-favs" width="32" height="32" viewBox="0 0 32 32" stroke="none" stroke-width="0" xmlns="http://www.w3.org/2000/svg">
                                                <path class="bg" d="M15.8531 28.2099C16.236 28.5966 16.7464 28.5966 17.0016 28.2099C19.0433 26.1472 25.6789 19.9593 28.3587 16.6075C31.2936 13.1268 31.2936 8.48584 27.8482 5.26296C24.4028 2.04008 19.2985 3.45815 16.3636 7.71235C13.8114 3.32923 8.19668 2.29791 5.0065 5.26296C1.68871 8.35693 1.81631 13.5135 4.49607 16.6075C7.04822 19.5726 13.8114 26.1472 15.8531 28.2099Z"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8009 3.19673C24.0258 2.67803 26.337 3.16464 28.1898 4.89774C31.8458 8.3177 31.8311 13.2605 28.7451 16.9247C26.7068 19.4726 22.41 23.6404 19.5588 26.4059C18.6464 27.2909 17.882 28.0324 17.3871 28.5311C17.1662 28.8351 16.8333 28.9999 16.4752 28.9999C16.1109 28.9999 15.7652 28.8317 15.4977 28.5616C15.0359 28.095 14.3253 27.3906 13.473 26.5457C10.594 23.6918 6.09868 19.2357 4.11757 16.9342C1.2807 13.6582 1.13111 8.19312 4.66546 4.89721L4.66606 4.89665C7.96882 1.82697 13.5517 2.7507 16.3929 6.82925C17.8724 4.94387 19.7943 3.66454 21.8009 3.19673ZM22.028 4.17062C20.0932 4.62168 18.183 5.95549 16.7751 7.99621C16.6779 8.13709 16.5154 8.21847 16.3444 8.21191C16.1733 8.20535 16.0175 8.11177 15.9314 7.96387C13.5105 3.80609 8.26073 2.92134 5.3472 5.62881C2.24644 8.52066 2.3519 13.3682 4.87398 16.2801L4.87498 16.2812C6.82615 18.5481 11.2601 22.9436 14.1417 25.8002C15.007 26.6581 15.7324 27.3771 16.2084 27.8581C16.3238 27.9746 16.4247 27.9999 16.4752 27.9999C16.5142 27.9999 16.549 27.9878 16.5842 27.9344C16.6023 27.907 16.6231 27.8814 16.6462 27.8581C17.1669 27.332 17.9709 26.5521 18.9254 25.6262C21.7786 22.8585 25.9762 18.7866 27.9681 16.2952L27.9762 16.285L27.9764 16.2851C30.7561 12.9885 30.7397 8.65228 27.5066 5.62803C25.914 4.13825 23.9503 3.72245 22.028 4.17062Z"></path>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="card swiper-slide">
                                        <div class="card__img dark">
                                            <a href="#"><img src="assets/images/example/slider-block/img-3.jpg" alt=""></a>
                                            <span class="card__status ">Распродажа</span>
                                        </div>
                                        <div class="card__info">
                                            <a href="#" class="card__name">Сетевое зарядное устройство Buro</a>
                                        </div>
                                        <div class="card__bottom">
                                            <div class="card__price">
                                                                    <div class="elem-price-old">650 <span class="elem-rub">i</span></div>
                                                    <div class="elem-price">450 <span class="elem-rub">i</span></div>
                                                            </div>
                                                            <a href="#" class="elem-btn elem-btn--light elem-btn--sm  " data-add="Добавить">В корзину</a>
                                                    </div>
                                                    <span class="card__like " data-like="">
                                            
                                            <svg id="favs" class="icon icon-favs" width="32" height="32" viewBox="0 0 32 32" stroke="none" stroke-width="0" xmlns="http://www.w3.org/2000/svg">
                                                <path class="bg" d="M15.8531 28.2099C16.236 28.5966 16.7464 28.5966 17.0016 28.2099C19.0433 26.1472 25.6789 19.9593 28.3587 16.6075C31.2936 13.1268 31.2936 8.48584 27.8482 5.26296C24.4028 2.04008 19.2985 3.45815 16.3636 7.71235C13.8114 3.32923 8.19668 2.29791 5.0065 5.26296C1.68871 8.35693 1.81631 13.5135 4.49607 16.6075C7.04822 19.5726 13.8114 26.1472 15.8531 28.2099Z"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8009 3.19673C24.0258 2.67803 26.337 3.16464 28.1898 4.89774C31.8458 8.3177 31.8311 13.2605 28.7451 16.9247C26.7068 19.4726 22.41 23.6404 19.5588 26.4059C18.6464 27.2909 17.882 28.0324 17.3871 28.5311C17.1662 28.8351 16.8333 28.9999 16.4752 28.9999C16.1109 28.9999 15.7652 28.8317 15.4977 28.5616C15.0359 28.095 14.3253 27.3906 13.473 26.5457C10.594 23.6918 6.09868 19.2357 4.11757 16.9342C1.2807 13.6582 1.13111 8.19312 4.66546 4.89721L4.66606 4.89665C7.96882 1.82697 13.5517 2.7507 16.3929 6.82925C17.8724 4.94387 19.7943 3.66454 21.8009 3.19673ZM22.028 4.17062C20.0932 4.62168 18.183 5.95549 16.7751 7.99621C16.6779 8.13709 16.5154 8.21847 16.3444 8.21191C16.1733 8.20535 16.0175 8.11177 15.9314 7.96387C13.5105 3.80609 8.26073 2.92134 5.3472 5.62881C2.24644 8.52066 2.3519 13.3682 4.87398 16.2801L4.87498 16.2812C6.82615 18.5481 11.2601 22.9436 14.1417 25.8002C15.007 26.6581 15.7324 27.3771 16.2084 27.8581C16.3238 27.9746 16.4247 27.9999 16.4752 27.9999C16.5142 27.9999 16.549 27.9878 16.5842 27.9344C16.6023 27.907 16.6231 27.8814 16.6462 27.8581C17.1669 27.332 17.9709 26.5521 18.9254 25.6262C21.7786 22.8585 25.9762 18.7866 27.9681 16.2952L27.9762 16.285L27.9764 16.2851C30.7561 12.9885 30.7397 8.65228 27.5066 5.62803C25.914 4.13825 23.9503 3.72245 22.028 4.17062Z"></path>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="card swiper-slide">
                                        <div class="card__img dark">
                                            <a href="#"><img src="assets/images/example/slider-block/img-4.jpg" alt=""></a>
                                            <span class="card__status ">Распродажа</span>
                                        </div>
                                        <div class="card__info">
                                            <a href="#" class="card__name">Колонка порт. Digma S-34 черный 25W 1.0</a>
                                        </div>
                                        <div class="card__bottom">
                                            <div class="card__price">
                                                                    <div class="elem-price-old">2 990 <span class="elem-rub">i</span></div>
                                                    <div class="elem-price">1 990 <span class="elem-rub">i</span></div>
                                                            </div>
                                                            <a href="#" class="elem-btn elem-btn--light elem-btn--sm  " data-add="Добавить">В корзину</a>
                                                    </div>
                                                    <span class="card__like " data-like="">
                                            
                                            <svg id="favs" class="icon icon-favs" width="32" height="32" viewBox="0 0 32 32" stroke="none" stroke-width="0" xmlns="http://www.w3.org/2000/svg">
                                                <path class="bg" d="M15.8531 28.2099C16.236 28.5966 16.7464 28.5966 17.0016 28.2099C19.0433 26.1472 25.6789 19.9593 28.3587 16.6075C31.2936 13.1268 31.2936 8.48584 27.8482 5.26296C24.4028 2.04008 19.2985 3.45815 16.3636 7.71235C13.8114 3.32923 8.19668 2.29791 5.0065 5.26296C1.68871 8.35693 1.81631 13.5135 4.49607 16.6075C7.04822 19.5726 13.8114 26.1472 15.8531 28.2099Z"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8009 3.19673C24.0258 2.67803 26.337 3.16464 28.1898 4.89774C31.8458 8.3177 31.8311 13.2605 28.7451 16.9247C26.7068 19.4726 22.41 23.6404 19.5588 26.4059C18.6464 27.2909 17.882 28.0324 17.3871 28.5311C17.1662 28.8351 16.8333 28.9999 16.4752 28.9999C16.1109 28.9999 15.7652 28.8317 15.4977 28.5616C15.0359 28.095 14.3253 27.3906 13.473 26.5457C10.594 23.6918 6.09868 19.2357 4.11757 16.9342C1.2807 13.6582 1.13111 8.19312 4.66546 4.89721L4.66606 4.89665C7.96882 1.82697 13.5517 2.7507 16.3929 6.82925C17.8724 4.94387 19.7943 3.66454 21.8009 3.19673ZM22.028 4.17062C20.0932 4.62168 18.183 5.95549 16.7751 7.99621C16.6779 8.13709 16.5154 8.21847 16.3444 8.21191C16.1733 8.20535 16.0175 8.11177 15.9314 7.96387C13.5105 3.80609 8.26073 2.92134 5.3472 5.62881C2.24644 8.52066 2.3519 13.3682 4.87398 16.2801L4.87498 16.2812C6.82615 18.5481 11.2601 22.9436 14.1417 25.8002C15.007 26.6581 15.7324 27.3771 16.2084 27.8581C16.3238 27.9746 16.4247 27.9999 16.4752 27.9999C16.5142 27.9999 16.549 27.9878 16.5842 27.9344C16.6023 27.907 16.6231 27.8814 16.6462 27.8581C17.1669 27.332 17.9709 26.5521 18.9254 25.6262C21.7786 22.8585 25.9762 18.7866 27.9681 16.2952L27.9762 16.285L27.9764 16.2851C30.7561 12.9885 30.7397 8.65228 27.5066 5.62803C25.914 4.13825 23.9503 3.72245 22.028 4.17062Z"></path>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="card swiper-slide">
                                        <div class="card__img dark">
                                            <a href="#"><img src="assets/images/example/card/img.jpg" alt=""></a>
                                            <span class="card__status ">Распродажа</span>
                                        </div>
                                        <div class="card__info">
                                            <a href="#" class="card__name">Мульти-овощерезка «Радуга вкуса»</a>
                                        </div>
                                        <div class="card__bottom">
                                            <div class="card__price">
                                                                    <div class="elem-price-old">1 400 <span class="elem-rub">i</span></div>
                                                    <div class="elem-price">1 000 <span class="elem-rub">i</span></div>
                                                            </div>
                                                            <a href="#" class="elem-btn elem-btn--light elem-btn--sm  " data-add="Добавить">В корзину</a>
                                                    </div>
                                                    <span class="card__like " data-like="">
                                            
                                            <svg id="favs" class="icon icon-favs" width="32" height="32" viewBox="0 0 32 32" stroke="none" stroke-width="0" xmlns="http://www.w3.org/2000/svg">
                                                <path class="bg" d="M15.8531 28.2099C16.236 28.5966 16.7464 28.5966 17.0016 28.2099C19.0433 26.1472 25.6789 19.9593 28.3587 16.6075C31.2936 13.1268 31.2936 8.48584 27.8482 5.26296C24.4028 2.04008 19.2985 3.45815 16.3636 7.71235C13.8114 3.32923 8.19668 2.29791 5.0065 5.26296C1.68871 8.35693 1.81631 13.5135 4.49607 16.6075C7.04822 19.5726 13.8114 26.1472 15.8531 28.2099Z"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8009 3.19673C24.0258 2.67803 26.337 3.16464 28.1898 4.89774C31.8458 8.3177 31.8311 13.2605 28.7451 16.9247C26.7068 19.4726 22.41 23.6404 19.5588 26.4059C18.6464 27.2909 17.882 28.0324 17.3871 28.5311C17.1662 28.8351 16.8333 28.9999 16.4752 28.9999C16.1109 28.9999 15.7652 28.8317 15.4977 28.5616C15.0359 28.095 14.3253 27.3906 13.473 26.5457C10.594 23.6918 6.09868 19.2357 4.11757 16.9342C1.2807 13.6582 1.13111 8.19312 4.66546 4.89721L4.66606 4.89665C7.96882 1.82697 13.5517 2.7507 16.3929 6.82925C17.8724 4.94387 19.7943 3.66454 21.8009 3.19673ZM22.028 4.17062C20.0932 4.62168 18.183 5.95549 16.7751 7.99621C16.6779 8.13709 16.5154 8.21847 16.3444 8.21191C16.1733 8.20535 16.0175 8.11177 15.9314 7.96387C13.5105 3.80609 8.26073 2.92134 5.3472 5.62881C2.24644 8.52066 2.3519 13.3682 4.87398 16.2801L4.87498 16.2812C6.82615 18.5481 11.2601 22.9436 14.1417 25.8002C15.007 26.6581 15.7324 27.3771 16.2084 27.8581C16.3238 27.9746 16.4247 27.9999 16.4752 27.9999C16.5142 27.9999 16.549 27.9878 16.5842 27.9344C16.6023 27.907 16.6231 27.8814 16.6462 27.8581C17.1669 27.332 17.9709 26.5521 18.9254 25.6262C21.7786 22.8585 25.9762 18.7866 27.9681 16.2952L27.9762 16.285L27.9764 16.2851C30.7561 12.9885 30.7397 8.65228 27.5066 5.62803C25.914 4.13825 23.9503 3.72245 22.028 4.17062Z"></path>
                                            </svg>
                                        </span>
                                    </div>

                                </div>


                                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                                <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                                <div class="swiper-scrollbar"><div class="swiper-scrollbar-drag" style="transform: translate3d(0px, 0px, 0px); width: 0px;"></div></div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <h2 class="h2 elem-title elem-title--row">
                    <span>Бренды</span>
                </h2>

                <div class="tabs__body js-tabs-body slider-block-brands">
                    <div class="tabs__body-item open">
                        <div class="brand__wrap">
                            <div class="brand__list brand__slider">
                                <div class="swiper-container swiper-container-initialized swiper-container-horizontal" data-slider-brands>
                                    <div class="swiper-wrapper">

                                        <div class="brand swiper-slide">
                                            <div class="brand__img">
                                                <a href="#"><img src="assets/images/example/slider-block/brand-1.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        
                                       <div class="brand swiper-slide">
                                            <div class="brand__img">
                                                <a href="#"><img src="assets/images/example/slider-block/brand-2.jpg" alt=""></a>
                                            </div>
                                        </div>

                                        <div class="brand swiper-slide">
                                            <div class="brand__img">
                                                <a href="#"><img src="assets/images/example/slider-block/brand-3.jpg" alt=""></a>
                                            </div>
                                        </div>

                                        <div class="brand swiper-slide">
                                            <div class="brand__img">
                                                <a href="#"><img src="assets/images/example/slider-block/brand-4.jpg" alt=""></a>
                                            </div>
                                        </div>

                                        <div class="brand swiper-slide">
                                            <div class="brand__img">
                                                <a href="#"><img src="assets/images/example/slider-block/brand-5.jpg" alt=""></a>
                                            </div>
                                        </div>

                                        <div class="brand swiper-slide">
                                            <div class="brand__img">
                                                <a href="#"><img src="assets/images/example/slider-block/brand-6.jpg" alt=""></a>
                                            </div>
                                        </div>

                                        <div class="brand swiper-slide">
                                            <div class="brand__img">
                                                <a href="#"><img src="assets/images/example/slider-block/brand-1.jpg" alt=""></a>
                                            </div>
                                        </div>

                                        <div class="brand swiper-slide">
                                            <div class="brand__img">
                                                <a href="#"><img src="assets/images/example/slider-block/brand-2.jpg" alt=""></a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                                    <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                                    <div class="swiper-scrollbar"><div class="swiper-scrollbar-drag" style="transform: translate3d(0px, 0px, 0px); width: 0px;"></div></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <h2 class="h2 elem-title elem-title--row">
                    <span>Скидки на телефоны</span>
                </h2>

                <div class="tabs__body js-tabs-body slider-block-sale" data-tabs-body>
                    <div class="tabs__body-item open" data-tabs-body-item>
                        <div class="card__wrap">
                            <div class="card__list card__slider">
                                <div class="swiper-container swiper-container-initialized swiper-container-horizontal" data-tabs-slider>
                                    <div class="swiper-wrapper">

                                        <div class="card swiper-slide">
                                        <div class="card__img dark">
                                            <a href="#"><img src="assets/images/example/slider-block/phone-1.jpg" alt=""></a>
                                            <span class="card__status ">Распродажа</span>
                                        </div>
                                        <div class="card__info">
                                            <a href="#" class="card__name">Смартфон Digma Atom 3G Linx 4Gb</a>
                                        </div>
                                        <div class="card__bottom">
                                            <div class="card__price">
                                                <div class="elem-price-old">2 400 <span class="elem-rub">i</span></div>
                                                <div class="elem-price">2 000 <span class="elem-rub">i</span></div>
                                                            </div>
                                                            <a href="#" class="elem-btn elem-btn--light elem-btn--sm  " data-add="Добавить">В корзину</a>
                                                    </div>
                                                    <span class="card__like " data-like="">
                                            
                                            <svg id="favs" class="icon icon-favs" width="32" height="32" viewBox="0 0 32 32" stroke="none" stroke-width="0" xmlns="http://www.w3.org/2000/svg">
                                                <path class="bg" d="M15.8531 28.2099C16.236 28.5966 16.7464 28.5966 17.0016 28.2099C19.0433 26.1472 25.6789 19.9593 28.3587 16.6075C31.2936 13.1268 31.2936 8.48584 27.8482 5.26296C24.4028 2.04008 19.2985 3.45815 16.3636 7.71235C13.8114 3.32923 8.19668 2.29791 5.0065 5.26296C1.68871 8.35693 1.81631 13.5135 4.49607 16.6075C7.04822 19.5726 13.8114 26.1472 15.8531 28.2099Z"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8009 3.19673C24.0258 2.67803 26.337 3.16464 28.1898 4.89774C31.8458 8.3177 31.8311 13.2605 28.7451 16.9247C26.7068 19.4726 22.41 23.6404 19.5588 26.4059C18.6464 27.2909 17.882 28.0324 17.3871 28.5311C17.1662 28.8351 16.8333 28.9999 16.4752 28.9999C16.1109 28.9999 15.7652 28.8317 15.4977 28.5616C15.0359 28.095 14.3253 27.3906 13.473 26.5457C10.594 23.6918 6.09868 19.2357 4.11757 16.9342C1.2807 13.6582 1.13111 8.19312 4.66546 4.89721L4.66606 4.89665C7.96882 1.82697 13.5517 2.7507 16.3929 6.82925C17.8724 4.94387 19.7943 3.66454 21.8009 3.19673ZM22.028 4.17062C20.0932 4.62168 18.183 5.95549 16.7751 7.99621C16.6779 8.13709 16.5154 8.21847 16.3444 8.21191C16.1733 8.20535 16.0175 8.11177 15.9314 7.96387C13.5105 3.80609 8.26073 2.92134 5.3472 5.62881C2.24644 8.52066 2.3519 13.3682 4.87398 16.2801L4.87498 16.2812C6.82615 18.5481 11.2601 22.9436 14.1417 25.8002C15.007 26.6581 15.7324 27.3771 16.2084 27.8581C16.3238 27.9746 16.4247 27.9999 16.4752 27.9999C16.5142 27.9999 16.549 27.9878 16.5842 27.9344C16.6023 27.907 16.6231 27.8814 16.6462 27.8581C17.1669 27.332 17.9709 26.5521 18.9254 25.6262C21.7786 22.8585 25.9762 18.7866 27.9681 16.2952L27.9762 16.285L27.9764 16.2851C30.7561 12.9885 30.7397 8.65228 27.5066 5.62803C25.914 4.13825 23.9503 3.72245 22.028 4.17062Z"></path>
                                            </svg>
                                        </span>
                                    </div> 

                                    <div class="card swiper-slide">
                                        <div class="card__img dark">
                                            <a href="#">
                                                <img src="assets/images/example/slider-block/phone-2.jpg" alt="">
                                            </a>
                                            <span class="card__status">Распродажа</span>
                                        </div>
                                        <div class="card__info">
                                            <a href="#" class="card__name">Смартфон Meizu M813H M8 64Gb</a>
                                        </div>
                                        <div class="card__bottom">
                                            <div class="card__price">
                                                                    <div class="elem-price-old">15 400 <span class="elem-rub">i</span></div>
                                                    <div class="elem-price">10 000 <span class="elem-rub">i</span></div>
                                                            </div>
                                                            <a href="#" class="elem-btn elem-btn--light elem-btn--sm  " data-add="Добавить">В корзину</a>
                                                    </div>
                                                    <span class="card__like " data-like="">
                                            
                                            <svg id="favs" class="icon icon-favs" width="32" height="32" viewBox="0 0 32 32" stroke="none" stroke-width="0" xmlns="http://www.w3.org/2000/svg">
                                                <path class="bg" d="M15.8531 28.2099C16.236 28.5966 16.7464 28.5966 17.0016 28.2099C19.0433 26.1472 25.6789 19.9593 28.3587 16.6075C31.2936 13.1268 31.2936 8.48584 27.8482 5.26296C24.4028 2.04008 19.2985 3.45815 16.3636 7.71235C13.8114 3.32923 8.19668 2.29791 5.0065 5.26296C1.68871 8.35693 1.81631 13.5135 4.49607 16.6075C7.04822 19.5726 13.8114 26.1472 15.8531 28.2099Z"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8009 3.19673C24.0258 2.67803 26.337 3.16464 28.1898 4.89774C31.8458 8.3177 31.8311 13.2605 28.7451 16.9247C26.7068 19.4726 22.41 23.6404 19.5588 26.4059C18.6464 27.2909 17.882 28.0324 17.3871 28.5311C17.1662 28.8351 16.8333 28.9999 16.4752 28.9999C16.1109 28.9999 15.7652 28.8317 15.4977 28.5616C15.0359 28.095 14.3253 27.3906 13.473 26.5457C10.594 23.6918 6.09868 19.2357 4.11757 16.9342C1.2807 13.6582 1.13111 8.19312 4.66546 4.89721L4.66606 4.89665C7.96882 1.82697 13.5517 2.7507 16.3929 6.82925C17.8724 4.94387 19.7943 3.66454 21.8009 3.19673ZM22.028 4.17062C20.0932 4.62168 18.183 5.95549 16.7751 7.99621C16.6779 8.13709 16.5154 8.21847 16.3444 8.21191C16.1733 8.20535 16.0175 8.11177 15.9314 7.96387C13.5105 3.80609 8.26073 2.92134 5.3472 5.62881C2.24644 8.52066 2.3519 13.3682 4.87398 16.2801L4.87498 16.2812C6.82615 18.5481 11.2601 22.9436 14.1417 25.8002C15.007 26.6581 15.7324 27.3771 16.2084 27.8581C16.3238 27.9746 16.4247 27.9999 16.4752 27.9999C16.5142 27.9999 16.549 27.9878 16.5842 27.9344C16.6023 27.907 16.6231 27.8814 16.6462 27.8581C17.1669 27.332 17.9709 26.5521 18.9254 25.6262C21.7786 22.8585 25.9762 18.7866 27.9681 16.2952L27.9762 16.285L27.9764 16.2851C30.7561 12.9885 30.7397 8.65228 27.5066 5.62803C25.914 4.13825 23.9503 3.72245 22.028 4.17062Z"></path>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="card swiper-slide">
                                        <div class="card__img dark">
                                            <a href="#"><img src="assets/images/example/slider-block/phone-3.jpg" alt=""></a>
                                            <span class="card__status ">Распродажа</span>
                                        </div>
                                        <div class="card__info">
                                            <a href="#" class="card__name">Смартфон Samsung SM-A307F Galaxy</a>
                                        </div>
                                        <div class="card__bottom">
                                            <div class="card__price">
                                                                    <div class="elem-price-old">17 400<span class="elem-rub">i</span></div>
                                                    <div class="elem-price">16 000 <span class="elem-rub">i</span></div>
                                                            </div>
                                                            <a href="#" class="elem-btn elem-btn--light elem-btn--sm  " data-add="Добавить">В корзину</a>
                                                    </div>
                                                    <span class="card__like " data-like="">
                                            
                                            <svg id="favs" class="icon icon-favs" width="32" height="32" viewBox="0 0 32 32" stroke="none" stroke-width="0" xmlns="http://www.w3.org/2000/svg">
                                                <path class="bg" d="M15.8531 28.2099C16.236 28.5966 16.7464 28.5966 17.0016 28.2099C19.0433 26.1472 25.6789 19.9593 28.3587 16.6075C31.2936 13.1268 31.2936 8.48584 27.8482 5.26296C24.4028 2.04008 19.2985 3.45815 16.3636 7.71235C13.8114 3.32923 8.19668 2.29791 5.0065 5.26296C1.68871 8.35693 1.81631 13.5135 4.49607 16.6075C7.04822 19.5726 13.8114 26.1472 15.8531 28.2099Z"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8009 3.19673C24.0258 2.67803 26.337 3.16464 28.1898 4.89774C31.8458 8.3177 31.8311 13.2605 28.7451 16.9247C26.7068 19.4726 22.41 23.6404 19.5588 26.4059C18.6464 27.2909 17.882 28.0324 17.3871 28.5311C17.1662 28.8351 16.8333 28.9999 16.4752 28.9999C16.1109 28.9999 15.7652 28.8317 15.4977 28.5616C15.0359 28.095 14.3253 27.3906 13.473 26.5457C10.594 23.6918 6.09868 19.2357 4.11757 16.9342C1.2807 13.6582 1.13111 8.19312 4.66546 4.89721L4.66606 4.89665C7.96882 1.82697 13.5517 2.7507 16.3929 6.82925C17.8724 4.94387 19.7943 3.66454 21.8009 3.19673ZM22.028 4.17062C20.0932 4.62168 18.183 5.95549 16.7751 7.99621C16.6779 8.13709 16.5154 8.21847 16.3444 8.21191C16.1733 8.20535 16.0175 8.11177 15.9314 7.96387C13.5105 3.80609 8.26073 2.92134 5.3472 5.62881C2.24644 8.52066 2.3519 13.3682 4.87398 16.2801L4.87498 16.2812C6.82615 18.5481 11.2601 22.9436 14.1417 25.8002C15.007 26.6581 15.7324 27.3771 16.2084 27.8581C16.3238 27.9746 16.4247 27.9999 16.4752 27.9999C16.5142 27.9999 16.549 27.9878 16.5842 27.9344C16.6023 27.907 16.6231 27.8814 16.6462 27.8581C17.1669 27.332 17.9709 26.5521 18.9254 25.6262C21.7786 22.8585 25.9762 18.7866 27.9681 16.2952L27.9762 16.285L27.9764 16.2851C30.7561 12.9885 30.7397 8.65228 27.5066 5.62803C25.914 4.13825 23.9503 3.72245 22.028 4.17062Z"></path>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="card swiper-slide">
                                        <div class="card__img dark">
                                            <a href="#"><img src="assets/images/example/slider-block/phone-4.jpg" alt=""></a>
                                            <span class="card__status ">Распродажа</span>
                                        </div>
                                        <div class="card__info">
                                            <a href="#" class="card__name">Смартфон Samsung SM-J260 Galaxy</a>
                                        </div>
                                        <div class="card__bottom">
                                            <div class="card__price">
                                                                    <div class="elem-price-old">7 400 <span class="elem-rub">i</span></div>
                                                    <div class="elem-price">6 000 <span class="elem-rub">i</span></div>
                                                            </div>
                                                            <a href="#" class="elem-btn elem-btn--light elem-btn--sm  " data-add="Добавить">В корзину</a>
                                                    </div>
                                                    <span class="card__like " data-like="">
                                            
                                            <svg id="favs" class="icon icon-favs" width="32" height="32" viewBox="0 0 32 32" stroke="none" stroke-width="0" xmlns="http://www.w3.org/2000/svg">
                                                <path class="bg" d="M15.8531 28.2099C16.236 28.5966 16.7464 28.5966 17.0016 28.2099C19.0433 26.1472 25.6789 19.9593 28.3587 16.6075C31.2936 13.1268 31.2936 8.48584 27.8482 5.26296C24.4028 2.04008 19.2985 3.45815 16.3636 7.71235C13.8114 3.32923 8.19668 2.29791 5.0065 5.26296C1.68871 8.35693 1.81631 13.5135 4.49607 16.6075C7.04822 19.5726 13.8114 26.1472 15.8531 28.2099Z"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8009 3.19673C24.0258 2.67803 26.337 3.16464 28.1898 4.89774C31.8458 8.3177 31.8311 13.2605 28.7451 16.9247C26.7068 19.4726 22.41 23.6404 19.5588 26.4059C18.6464 27.2909 17.882 28.0324 17.3871 28.5311C17.1662 28.8351 16.8333 28.9999 16.4752 28.9999C16.1109 28.9999 15.7652 28.8317 15.4977 28.5616C15.0359 28.095 14.3253 27.3906 13.473 26.5457C10.594 23.6918 6.09868 19.2357 4.11757 16.9342C1.2807 13.6582 1.13111 8.19312 4.66546 4.89721L4.66606 4.89665C7.96882 1.82697 13.5517 2.7507 16.3929 6.82925C17.8724 4.94387 19.7943 3.66454 21.8009 3.19673ZM22.028 4.17062C20.0932 4.62168 18.183 5.95549 16.7751 7.99621C16.6779 8.13709 16.5154 8.21847 16.3444 8.21191C16.1733 8.20535 16.0175 8.11177 15.9314 7.96387C13.5105 3.80609 8.26073 2.92134 5.3472 5.62881C2.24644 8.52066 2.3519 13.3682 4.87398 16.2801L4.87498 16.2812C6.82615 18.5481 11.2601 22.9436 14.1417 25.8002C15.007 26.6581 15.7324 27.3771 16.2084 27.8581C16.3238 27.9746 16.4247 27.9999 16.4752 27.9999C16.5142 27.9999 16.549 27.9878 16.5842 27.9344C16.6023 27.907 16.6231 27.8814 16.6462 27.8581C17.1669 27.332 17.9709 26.5521 18.9254 25.6262C21.7786 22.8585 25.9762 18.7866 27.9681 16.2952L27.9762 16.285L27.9764 16.2851C30.7561 12.9885 30.7397 8.65228 27.5066 5.62803C25.914 4.13825 23.9503 3.72245 22.028 4.17062Z"></path>
                                            </svg>
                                        </span>
                                    </div>

                                    <div class="card swiper-slide">
                                        <div class="card__img dark">
                                            <a href="#"><img src="assets/images/example/card/img.jpg" alt=""></a>
                                            <span class="card__status ">Распродажа</span>
                                        </div>
                                        <div class="card__info">
                                            <a href="#" class="card__name">Мульти-овощерезка «Радуга вкуса»</a>
                                        </div>
                                        <div class="card__bottom">
                                            <div class="card__price">
                                                                    <div class="elem-price-old">1 400 <span class="elem-rub">i</span></div>
                                                    <div class="elem-price">1 000 <span class="elem-rub">i</span></div>
                                                            </div>
                                                            <a href="#" class="elem-btn elem-btn--light elem-btn--sm  " data-add="Добавить">В корзину</a>
                                                    </div>
                                                    <span class="card__like " data-like="">
                                            
                                            <svg id="favs" class="icon icon-favs" width="32" height="32" viewBox="0 0 32 32" stroke="none" stroke-width="0" xmlns="http://www.w3.org/2000/svg">
                                                <path class="bg" d="M15.8531 28.2099C16.236 28.5966 16.7464 28.5966 17.0016 28.2099C19.0433 26.1472 25.6789 19.9593 28.3587 16.6075C31.2936 13.1268 31.2936 8.48584 27.8482 5.26296C24.4028 2.04008 19.2985 3.45815 16.3636 7.71235C13.8114 3.32923 8.19668 2.29791 5.0065 5.26296C1.68871 8.35693 1.81631 13.5135 4.49607 16.6075C7.04822 19.5726 13.8114 26.1472 15.8531 28.2099Z"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8009 3.19673C24.0258 2.67803 26.337 3.16464 28.1898 4.89774C31.8458 8.3177 31.8311 13.2605 28.7451 16.9247C26.7068 19.4726 22.41 23.6404 19.5588 26.4059C18.6464 27.2909 17.882 28.0324 17.3871 28.5311C17.1662 28.8351 16.8333 28.9999 16.4752 28.9999C16.1109 28.9999 15.7652 28.8317 15.4977 28.5616C15.0359 28.095 14.3253 27.3906 13.473 26.5457C10.594 23.6918 6.09868 19.2357 4.11757 16.9342C1.2807 13.6582 1.13111 8.19312 4.66546 4.89721L4.66606 4.89665C7.96882 1.82697 13.5517 2.7507 16.3929 6.82925C17.8724 4.94387 19.7943 3.66454 21.8009 3.19673ZM22.028 4.17062C20.0932 4.62168 18.183 5.95549 16.7751 7.99621C16.6779 8.13709 16.5154 8.21847 16.3444 8.21191C16.1733 8.20535 16.0175 8.11177 15.9314 7.96387C13.5105 3.80609 8.26073 2.92134 5.3472 5.62881C2.24644 8.52066 2.3519 13.3682 4.87398 16.2801L4.87498 16.2812C6.82615 18.5481 11.2601 22.9436 14.1417 25.8002C15.007 26.6581 15.7324 27.3771 16.2084 27.8581C16.3238 27.9746 16.4247 27.9999 16.4752 27.9999C16.5142 27.9999 16.549 27.9878 16.5842 27.9344C16.6023 27.907 16.6231 27.8814 16.6462 27.8581C17.1669 27.332 17.9709 26.5521 18.9254 25.6262C21.7786 22.8585 25.9762 18.7866 27.9681 16.2952L27.9762 16.285L27.9764 16.2851C30.7561 12.9885 30.7397 8.65228 27.5066 5.62803C25.914 4.13825 23.9503 3.72245 22.028 4.17062Z"></path>
                                            </svg>
                                        </span>
                                    </div>

                                </div>


                                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                                <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                                <div class="swiper-scrollbar"><div class="swiper-scrollbar-drag" style="transform: translate3d(0px, 0px, 0px); width: 0px;"></div></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            

            {# список карточек #}
            {# <div class="card__list" data-card-list>
                {% for item in cardClist %}
                    {{ card.card(item) }}
                {% endfor %}
            </div> #}

            {# пагинация #}
            {# {{ pagination.pagination() }} #}
        </div>
	</div>

    <a href="#" class="online-support">
        {{ svg.icon('ask') }}
    </a>

{% endblock %}
