{% extends "template/layout.twig" %}

{% import '../components/menu/menu.twig' as menu %}
{% import '../components/hamburger/hamburger.twig' as hamburger %}
{% import '../components/social/social.twig' as social %}
{% import '../components/pay/pay.twig' as pay %}
{% import '../components/breadcrumbs/breadcrumbs.twig' as breadcrumbs %}
{% import '../components/order-icon/order-icon.twig' as orderIcon %}
{% import '../components/price-list/price-list.twig' as priceList %}
{% import '../components/order-list/order-list.twig' as ordersList %}

{% block title %}{{ page_title }}{% endblock %}

{% block bodyClass %}page-order{% endblock %}

{% block content %}

	<div class="container">
        <form class="container__inner">
            {# хлебные крошки #}
            {{ breadcrumbs.breadcrumbs(breadcrumbsList) }}

            <div class="elem-back hidden-lg hidden-xl disabled-nav">
                {{ svg.icon('arrow-back2') }}
                Назад

                <div class="elem-back__list">
                    <div class="elem-back__item">
                        <a href="#" class="elem-back__link">Уход за кожей</a>
                    </div>
                    <div class="elem-back__item">
                        <a href="#" class="elem-back__link">Товары по уходу</a>
                    </div>
                    <div class="elem-back__item">
                        <a href="#" class="elem-back__link">Красота и здоровье</a>
                    </div>
                </div>
            </div>

            <h2 class="elem-title elem-title--inner">Оформление заказа</h2>

            <div class="row page-order__content" data-sticky-content>
                <div class="col-12 col-xl-6 col-lg-6">
                    <h3 class="regular h3 h3--lg">Ваши данные</h3>

                    <div class="row">
                        <div class="col-12 col-xl-6 col-lg-6 col-md-6">
                            <div class="elem-item elem-item--md">
                                <label class="elem-label">Имя</label>
                                <input type="text" class="elem-input" value="Екатерина">
                            </div>
                        </div>

                        <div class="col-12 col-xl-6 col-lg-6 col-md-6">
                            <div class="elem-item elem-item--md">
                                <label class="elem-label">Фамилия</label>
                                <input type="text" class="elem-input" value="Могильникова">
                            </div>
                        </div>
                    </div>

                    <div class="row elem-item__row">
                        <div class="col-12 col-xl-6 col-lg-6 col-md-6">
                            <div class="elem-item elem-item--md">
                                <label class="elem-label">E-mail</label>
                                <input type="email" class="elem-input" value="kateika8@mail.ru">
                            </div>
                        </div>

                        <div class="col-12 col-xl-6 col-lg-6 col-md-6">
                            <div class="elem-item elem-item--md">
                                <label class="elem-label">Телефон</label>
                                <input type="tel" class="elem-input" value="+7 (926) 218-88-10" disabled>
                                <div class="elem-hint hidden-xs hidden-sm">
                                    <div class="elem-hint__icon">
                                        {{ svg.icon('q') }}
                                    </div>
                                    <div class="elem-hint__text">
                                        <div class="elem-hint__text-in">
                                            Номер телефона можно изменить в <a href="lk.html">Личном кабинете</a>.
                                        </div>
                                    </div>
                                </div>
                                <div class="elem-hint__mob hidden-md hidden-lg hidden-xl">
                                    Номер телефона можно изменить в <a href="lk.html">Личном кабинете</a>.
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 class="regular h3 h3--lg">Выберите способ доставки</h3>
                    {{ orderIcon.orderIcon(orderIconList) }}

                    <div class="hidden-lg hidden-xl">
                        <div class="row">
                            <div class="col-12 col-md-9">
                                {{ ordersList.orderList(orderList) }}
                            </div>
                        </div>
                    </div>

                    {# Стоимость #}
                    {{ priceList.priceList(orderPriceList) }}

                    <h3 class="regular h3 h3--lg">Выберите способ оплаты</h3>
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                            {{ orderIcon.orderIcon(orderIconList2) }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6 col-lg-6 hidden-md hidden-sm hidden-xs">
                    {{ ordersList.orderList(orderList) }}
                </div>
            </div>

            <div class="row page-order__btn">
                <div class="col-6 justify-content-end d-flex">
                    <a href="#" class="elem-btn elem-btn--gray-light bold">Назад в корзину</a>
                </div>
                <div class="col-6">
                    <button class="elem-btn">Сделать заказ</button>
                </div>
            </div>
        </form>
	</div>

    <a href="#" class="online-support">
        {{ svg.icon('ask') }}
    </a>

{% endblock %}
