{% macro menu(data) %}
    {% import '../../page/_macros/_prefix.twig' as pr %}
    {% import '../../page/_macros/_mod.twig' as mod %}
    {% import '../../page/_macros/_attr.twig' as attr %}
    {% import '../../page/_macros/_svg.twig' as svg %}

    {% set pr = pr.generatePrefix('menu', data.prefix) %}
    {% set mod = mod.generateMod('menu', data.prefix, data.mod) %}
    {% set attr = attr.generateAttr('menu', data.prefix) %}

    <nav class="menu{{pr}} {{mod}}" {{attr}} {% if data.scrollto %}data-scroll-to{% endif %}>

        <ul class="menu{{pr}}__list">

            {% for item in data.list %}
                {% if item.line %}
                    <div class="menu{{pr}}__line {{ item.line }}"></div>
                {% endif %}
                <li class="menu{{pr}}__item {% if item.class %}{{ item.class }}{% endif %}" {% if item.submenu %}data-menu-bottom-drop{% endif %}>
                    
                    {% if pr == "-advantages" %}
                        <div class="menu{{pr}}__link" {% if item.scrollto %}data-scroll-to-single{% endif %} {% if item.attr %}{{ item.attr }}{% endif %}>
                            {% if item.icon %}
                                <div class="menu{{pr}}__icon">
                                    {{ svg.icon(item.icon) }}
                                    {% if item.count %}
                                        <div class="menu{{pr}}__count dark">{{ item.count }}</div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="menu{{pr}}__text">
                                {{ item.text }}

                                {% if item.detail %}
                                    <div class="menu{{pr}}__detail dark">{{ item.detail }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                    
                    <a href="{{ item.href }}" class="menu{{pr}}__link" {% if item.scrollto %}data-scroll-to-single{% endif %} {% if item.attr %}{{ item.attr }}{% endif %}>
                        {% if item.icon %}
                            <div class="menu{{pr}}__icon">
                                {{ svg.icon(item.icon) }}
                                {% if item.count %}
                                    <div class="menu{{pr}}__count dark">{{ item.count }}</div>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="menu{{pr}}__text">
                            {{ item.text }}

                            {% if item.detail %}
                                <div class="menu{{pr}}__detail dark">{{ item.detail }}</div>
                            {% endif %}
                        </div>
                    </a>

                    {% endif %}

                    {% if data.prefix == 'bottom' %}
                        {% if item.submenu %}
                            <div class="menu{{pr}}__drop" data-menu-bottom-drop-menu>

                                <div class="menu{{pr}}__drop-arrow" data-menu-bottom-drop-arrow></div>
                                <div class="menu{{pr}}__drop-back" data-menu-bottom-drop-back>{{ svg.icon('back') }} Назад</div>

                                <a href="{{ item.href }}" class="menu{{pr}}__link menu{{pr}}__drop-category">
                                    {% if item.icon %}
                                        <div class="menu{{pr}}__icon">
                                            {{ svg.icon(item.icon) }}
                                            {% if item.count %}
                                                <div class="menu{{pr}}__count dark">{{ item.count }}</div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    <div class="menu{{pr}}__text">
                                        {{ item.text }}

                                        {% if item.detail %}
                                            <div class="menu{{pr}}__detail dark">{{ item.detail }}</div>
                                        {% endif %}
                                    </div>
                                </a>

                                {% for item2 in item.submenu %}
                                    <div class="menu{{pr}}__col">

                                        {% if item2.title %}
                                            <h5 class="menu{{pr}}__drop-title" {% if item2.list %}data-menu-bottom-drop{% endif %}><a href="#">{{ item2.title }}</a></h5>
                                        {% endif %}

                                        <ul class="menu{{pr}}__drop-list {% if item2.category %}category{% endif %}" {% if item2.list %}data-menu-bottom-drop-menu{% endif %}>

                                            {% if item2.list %}
                                                <div class="menu{{pr}}__drop-back" data-menu-bottom-drop-back>{{ svg.icon('back') }} Назад</div>

                                                {% if item2.title %}
                                                    <h5 class="menu{{pr}}__drop-title" {% if item2.list %}data-menu-bottom-drop{% endif %}><a href="#">{{ item2.title }}</a></h5>
                                                {% endif %}

                                            {% endif %}

                                            {% for item3 in item2.list %}
                                                <li class="menu{{pr}}__drop-item {% if item3.class %}{{ item3.class }}{% endif %}" {% if item3.list %}data-menu-bottom-drop{% endif %}>
                                                    <a href="{{ item3.href }}" class="menu{{pr}}__drop-link" >
                                                        <div class="menu{{pr}}__drop-text">{{ item3.text }}</div>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}

                </li>
            {% endfor %}

        </ul>
    </nav>
{% endmacro %}
