{% macro step(data) %}
    {% import '../../page/_macros/_svg.twig' as svg %}

	<div class="step {% if data.class %}{{ data.class }}{% endif %}">
        {% if data.title %}
            <h2 class="elem-title step__title">{{ data.title }}</h2>
        {% endif %}

        <div class="step__list">
            {% for item in data.list %}
                <div class="step__item">
                    <div class="step__img">
                        <img src="{{ item.img }}" alt="">
                        <div class="step__step">Шаг {{ loop.index }}</div>
                    </div>

                    <div class="step__info">
                        {% if item.head %}
                            <div class="step__head">
                                {{ item.head }}
                            </div>
                        {% endif %}

                        {% if item.text %}
                            <div class="step__text">
                                {{ item.text }}
                            </div>
                        {% endif %}

                        {% if item.list %}
                            <ul class="list-mark">
                                {% for item2 in item.list %}
                                    <li>{{ item2.text }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if item.link %}
                            <a href class="elem-link step__link">
                                {{ svg.icon(item.linkImg) }}
                                {{ item.link }}
                            </a>
                        {% endif %}

                        {% if item.icon %}
                            <div class="elem-icon step__icon">
                                {{ svg.icon(item.iconImg) }}
                                {{ item.icon }}
                            </div>
                        {% endif %}
                    </div>

                    {% if item.button %}
                        <div  class="step__button-block">
                            <a href class="elem-btn step__button">
                                {{ item.button }}
                            </a>
                        </div>
                    {% endif %}

                    {% if item.badge %}
                        <div  class="step__badge">
                            {{ item.badge }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
