{% macro card(data) %}
    {% import '../../page/_macros/_svg.twig' as svg %}

	<div class="card {% if data.class %}{{ data.class }}{% endif %}">
        <div class="card__img dark">
            <a href="#"><img src="{{ data.img }}" alt=""></a>
            {% if data.status %}
              <span class="card__status {% if data.null %}card__status--null{% endif %}">
                {{ data.status }}
              </span>
            {% endif %}
        </div>
        <div class="card__info">

            {% if data.articul %}
              <span class="card__articul">
                Артикул: {{ data.articul }}
              </span>
            {% endif %}

            <a href="#" class="card__name">{{ data.name }}</a>
        </div>
        <div class="card__bottom">
            <div class="card__price">
                {% if data.priceOld %}
                    <div class="elem-price-old">{{ data.priceOld }}</div>
                    <div class="elem-price">{{ data.price }}</div>
                {% endif %}
            </div>
            {% if data.btn %}
                <a href="#" class="elem-btn elem-btn--light elem-btn--sm {% if data.null %} elem-btn--disabled {% endif %}" {% if data.null %} {% else %} data-add="Добавить" {% endif %}>{{ data.btn }}</a>
            {% endif %}
        </div>
        <span class="card__like" data-like>
            {{ svg.icon('favs') }}
        </span>
    </div>
{% endmacro %}
