{% macro card(data) %}
    {% import '../../page/_macros/_svg.twig' as svg %}

	<a href="#" class="card">
        <div class="card__img dark">
            <img src="{{ data.img }}" alt="">
            {% if data.status %}
              <span class="card__status">
                {{ data.status }}
              </span>
            {% endif %}
        </div>
        <div class="card__info">
            <div class="card__name">{{ data.name }}</div>
        </div>
        <div class="card__bottom">
            <div class="card__price">
                {% if data.priceOld %}
                    <div class="elem-price-old">{{ data.priceOld }}</div>
                    <div class="elem-price">{{ data.price }}</div>
                {% endif %}
            </div>
            {% if data.btn %}
                <div class="elem-btn elem-btn--light elem-btn--sm">{{ data.btn }}</div>
            {% endif %}
        </div>
    </a>
{% endmacro %}
