{% macro filter(data) %}
    {% import '../../page/_macros/_svg.twig' as svg %}
    {% import '../price/price.twig' as price %}
    {% import '../pagination/pagination.twig' as pagination %}
    {% import '../select/select.twig' as select %}

	<div class="filter {{ data.class }}">

        {% if data.top %}
            <div class="swiper-container filter-picture" data-swiper-category-img>
                <div class="swiper-wrapper filter-picture__inner">
                    {% for item in data.category %}
                        <a href="#" class="swiper-slide elem-link-img elem-link-img--margin-right elem-link--nowrap {{ item.class }}"><img class="elem-link-picture" src="assets/images/example/filter/product.jpg" alt="Кабель usb">{{ item.name }}<span class="elem-label-new elem-label--red-circle">{{ item.num }}</span></a>
                    {% endfor %}
                </div>
                {# <div class="swiper-scrollbar"></div> #}
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

            <div class="filter__row filter__row--between">
                {% if data.filter %}
                    <a href="#" class="elem-filter" data-filter-show>
                    {{ svg.icon('filter') }} {{ data.filter.name }}
                    </a>
                {% endif %}

                {% if data.btn %}
                    <div class="filter__btn hidden-md hidden-sm hidden-xs">
                        {% for item in data.btn %}
                            <div class="filter__btn-item">
                                <a href="{{ item.href }}" class="elem-btn elem-btn--light elem-btn--light-no-hover elem-btn--md elem-btn--fix-weight" title="{{ item.text }}" data-filter-btn>{{ item.text }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {{ price.price(data) }}
            </div>

            <form class="filter__wrap" name="_form" method="get" data-filter-show-wrap>
                <div class="elem-title filter__wrap-title hidden-md hidden-lg hidden-xl">
                    {{ svg.icon('filter') }}
                    Фильтр

                    <a href="" class="elem-close" data-filter-close>
                        {{ svg.icon('close') }}
                    </a>
                </div>
                <div class="filter__wrap-in">
                    <div class="filter__row filter__row--start">
                        <div class="filter__item hidden-md hidden-lg hidden-xl">
                            <div class="elem-select" >
                                <label class="elem-select__select" data-elem-select>Цена</label>
                                <div class="elem-select__in">
                                    {{ price.priceMobile({
                                        "priceStart": "1000",
                                        "priceEnd": "10000",
                                        "priceMin": "0",
                                        "priceMax": "30000"
                                    }) }}
                                </div>
                            </div>
                        </div>

                        <div class="filter__item">
                            <label class="elem-label hidden-sm hidden-xs">Цвет</label>
                            {{ select.select(data.colorList) }}
                        </div>

                        <div class="filter__item">
                            <label class="elem-label hidden-sm hidden-xs">Размер</label>
                            {{ select.select(data.sizeList) }}
                        </div>

                        <div class="filter__item">
                            <label class="elem-label hidden-sm hidden-xs">Наличие</label>
                            {{ select.select(data.availabilityList) }}
                        </div>
                    </div>
                </div>

                <div class="filter__wrap-btn hidden-md hidden-lg hidden-xl">
                    <a href="#" class="elem-btn elem-btn--light elem-btn--gray bold" data-filter-delete>Сбросить</a>
                    <button type="submit" name="set_filter" id="set_filter" class=" elem-btn" data-filter-close>Применить</a>

                </div>

                <div class="filter__info hidden-sm hidden-xs">
                    <div class="filter__row filter__row--start filter__info-row">
                        <div class="filter__info-items" data-filter-color>
                            <label class="elem-label">Цвет:</label>
                            <div class="filter__info-list null" data-filter-list></div>
                        </div>

                        <div class="filter__info-items" data-filter-size>
                            <label class="elem-label">Размер:</label>
                            <div class="filter__info-list null" data-filter-list></div>
                        </div>

                        <div class="filter__info-items" data-filter-available>
                            <label class="elem-label">Наличие:</label>
                            <div class="filter__info-list null" data-filter-list></div>
                        </div>

                        <a href="#" class="filter__delete" data-filter-delete>
                            <span class="filter__delete-item hidden-xs hidden-sm hidden-md">
                                <span class="filter__delete-text">Очистить всё</span>
                                {{ svg.icon('clear-filter') }}
                            </span>
                            <span class="hidden-lg hidden-xl">
                                {{ svg.icon('garbage-can') }}
                            </span>
                        </a>
                    </div>
                </div>
                <div class="filter__row filter__all hidden-sm hidden-xs">
                    Найдено товаров:  12
                </div>
            </form>
        {% endif %}
        {% if data.viewIcon %}

        {% else %}
            <div class="elem-title__count align-items-center hidden-sm hidden-md hidden-lg hidden-xl d-flex">Результаты: 12 из 200</div>

            <div class="filter__view hidden-xs hidden-md hidden-lg hidden-xl" data-filter-view>
                {% if data.count %}
                    <div class="filter__view-name">Показать:</div>
                    <div class="filter__nums">
                        {% for item in data.count %}
                            <a href="" class="filter__nums-item {% if item.active %}active{% endif %}">{{ item.text }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="filter__row filter__row--between">

            <div class="filter__select">
                {# выпадающий список #}
                {{ select.select(data.sortList) }}
            </div>

            {# пагинация #}
            <div class="hidden-md hidden-sm hidden-xs">
                {{ pagination.pagination() }}
            </div>

            <div class="filter__view hidden-sm hidden-xs" data-filter-view>
                {% if data.count %}
                    <div class="filter__view-name">Показать:</div>
                    <div class="filter__nums">
                        {% for item in data.count %}
                            <a href="" class="filter__nums-item {% if item.active %}active{% endif %}">{{ item.text }}</a>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if data.viewIcon %}
                    <a href="" class="filter__view-link active" data-filter-view-item="table">
                        {{ svg.icon('table') }}
                    </a>

                    <a href="" class="filter__view-link" data-filter-view-item="list">
                        {{ svg.icon('list') }}
                    </a>
                {% endif %}
            </div>
        </div>

        {% if data.viewIcon %}
            <div class="filter__view hidden-md hidden-lg hidden-xl" data-filter-view>
                <a href="" class="filter__view-link active" data-filter-view-item="table">
                    {{ svg.icon('table') }}
                </a>

                <a href="" class="filter__view-link" data-filter-view-item="list">
                    {{ svg.icon('list') }}
                </a>
            </div>
            <div class="filter__row hidden-md hidden-lg hidden-xl">
                <div class="elem-title__count">Товары: 1-12 из 20</div>
            </div>
        {% endif %}
    </div>
{% endmacro %}
